Repository 3dverse/livelink: changes, and which GitLab CI jobs are due for each by the changed paths.
All: js:livelink.three:publish, js:livelink.react:publish, js:livelink.react.ui:publish

Path conditions:
  js:livelink.three:publish: any of: livelink.three/**/*, livelink.three/*
  js:livelink.react:publish: any of: livelink.react/**/*, livelink.react/*
  js:livelink.react.ui:publish: any of: livelink.react.ui/**/*, livelink.react.ui/*

refactor: camera wip broken
  livelink.js/sources/Camera.ts
  livelink.js/sources/Entity.ts
  livelink.js/sources/Livelink.ts
  livelink.js/sources/Scene.ts
  livelink.js/sources/Viewport.ts
  livelink.js/sources/decoders/EncodedFrameConsumer.ts
  livelink.js/sources/decoders/FrameCameraTransform.ts
  livelink.js/sources/decoders/FrameMetaData.ts
  livelink.js/sources/decoders/SoftwareDecoder.ts
  livelink.js/sources/decoders/WebCodecsDecoder.ts
  livelink.js/sources/surfaces/Rect.ts
  livelink.js/sources/surfaces/RenderingSurfaceBase.ts
  livelink.react/sources/components/core/Livelink.tsx
  livelink.react/sources/components/core/Viewport.tsx
  livelink.samples/src/samples/__to_sort__/web-xr/WebXR.tsx
  livelink.samples/src/samples/advanced/x-web-xr.tsx
  livelink.samples/src/samples/index.ts
Due: js:livelink.react:publish

refactor: camera wip fixed
  livelink.js/sources/surfaces/OffscreenSurface.ts
  livelink.react.ui/sources/components/RenderGraphSettings/index.tsx
  livelink.react/sources/cameras/DefaultCamera.ts
  livelink.react/sources/components/core/Camera.tsx
  livelink.react/sources/components/core/CameraController.tsx
  livelink.react/sources/components/core/Viewport.tsx
  livelink.react/sources/components/core/WebXR.tsx
  livelink.react/sources/controllers/DefaultCameraController.ts
  livelink.react/sources/hooks/useEntity.ts
  livelink.react/sources/hooks/useLivelinkXR.ts
  livelink.react/sources/index.ts
  livelink.react/sources/overlays/ReactOverlay.ts
  livelink.react/sources/web-xr/WebXRHelper.ts
  livelink.samples/src/samples/index.ts
  livelink.samples/src/samples/react-core/1-viewports/1-single-canvas-single-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/2-single-canvas-double-viewports.tsx
  livelink.samples/src/samples/react-core/1-viewports/3-double-canvas-single-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/4-double-canvas-double-viewports.tsx
  livelink.samples/src/samples/react-core/1-viewports/5-canvas-in-canvas.tsx
  livelink.samples/src/samples/react-core/1-viewports/6-viewport-in-viewport.tsx
  livelink.three/sources/ThreeOverlay.ts
Due: js:livelink.three:publish, js:livelink.react:publish, js:livelink.react.ui:publish

refactor: cameras are now simple entities, removed all generics for entity creation functions
  livelink.js/sources/Camera.ts
  livelink.js/sources/Entity.ts
  livelink.js/sources/Scene.ts
  livelink.js/sources/Viewport.ts
  livelink.js/sources/surfaces/OffscreenSurface.ts
  livelink.react/sources/components/core/CameraController.tsx
  livelink.react/sources/components/core/Viewport.tsx
  livelink.react/sources/components/core/WebXR.tsx
  livelink.react/sources/controllers/DefaultCameraController.ts
  livelink.react/sources/hooks/useEntity.ts
  livelink.react/sources/web-xr/WebXRHelper.ts
  livelink.samples/src/samples/advanced/x-live-skeletal-animation.tsx
  livelink.samples/src/samples/advanced/x-web-xr.tsx
  livelink.samples/src/samples/index.ts
  livelink.samples/src/samples/react-core/1-viewports/1-single-canvas-single-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/2-single-canvas-double-viewports.tsx
  livelink.samples/src/samples/react-core/1-viewports/3-double-canvas-single-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/4-double-canvas-double-viewports.tsx
  livelink.samples/src/samples/react-core/1-viewports/5-canvas-in-canvas.tsx
  livelink.samples/src/samples/react-core/1-viewports/6-viewport-in-viewport.tsx
  livelink.samples/src/samples/react-core/2-sessions/1-scene-selector.tsx
  livelink.samples/src/samples/react-core/2-sessions/2-multi-session.tsx
  livelink.samples/src/samples/react-core/2-sessions/3-join-session.tsx
  livelink.samples/src/samples/react-core/3-overlays/1-dom-3d-overlay.tsx
  livelink.samples/src/samples/react-core/3-overlays/2-threejs-overlay.tsx
  livelink.samples/src/samples/react-core/3-overlays/3-multi-overlay.tsx
  livelink.samples/src/samples/react-core/4-cameras/1-default-camera-controller.tsx
  livelink.samples/src/samples/react-core/4-cameras/2-custom-camera-controller.tsx
  livelink.samples/src/samples/react-core/4-cameras/3-third-person-controller.tsx
  livelink.samples/src/samples/react-core/4-cameras/4-render-target-index.tsx
  livelink.samples/src/samples/react-core/5-clients/1-clients-list.tsx
  livelink.samples/src/samples/react-core/5-clients/2-clients-avatars.tsx
  livelink.samples/src/samples/react-ui/x-activity-watcher.tsx
  livelink.samples/src/samples/react-ui/x-render-graph-settings.tsx
  livelink.samples/src/samples/react-ui/x-sun-position-picker.tsx
Due: js:livelink.react:publish

feat: split screen for clients samples
  livelink.samples/src/samples/react-core/5-clients/1-clients-list.tsx
  livelink.samples/src/samples/react-core/5-clients/2-clients-avatars.tsx
Due: none

feat: viewport render target sample
  livelink.samples/src/samples/index.ts
  livelink.samples/src/samples/react-core/1-viewports/7-viewport-render-target.tsx
  livelink.samples/src/samples/react-core/4-cameras/4-camera-render-target.tsx
Due: none

fix: webxr release
  livelink.react/sources/web-xr/WebXRHelper.ts
  livelink.samples/src/samples/advanced/x-web-xr.tsx
Due: js:livelink.react:publish

fix: skeletal animation threejs canvas resize
  livelink.samples/src/samples/advanced/x-live-skeletal-animation.tsx
Due: none

fix: removed viewport from FrameCameraTransform
  livelink.js/sources/decoders/FrameCameraTransform.ts
  livelink.js/sources/decoders/FrameMetaData.ts
Due: none

fix: new client had empty metadata
  livelink.js/sources/Client.ts
  livelink.js/sources/Session.ts
Due: none

feat: auto generate ComponentRecord type
  livelink.js/ci/ComponentRecord.template.ts
  livelink.js/ci/auto-generate.js
Due: none

refactor: cleaned up entity constructor, and various fixes
  livelink.js/ci/ComponentsRecord.template.ts
  livelink.js/ci/EntityBase.template.ts
  livelink.js/ci/auto-generate.js
  livelink.js/package.json
  livelink.js/sources/AnimationSequenceController.ts
  livelink.js/sources/Entity.ts
  livelink.js/sources/EntityRegistry.ts
  livelink.js/sources/Scene.ts
  livelink.js/sources/decoders/EncodedFrameConsumer.ts
  livelink.js/sources/decoders/FrameMetaData.ts
  livelink.js/sources/index.ts
  livelink.react.ui/sources/components/InactivityWarning/index.tsx
  livelink.react.ui/sources/components/RenderGraphSettings/index.tsx
  livelink.react/sources/components/core/Livelink.tsx
  livelink.react/sources/hooks/useEntity.ts
  livelink.samples/src/samples/react-core/1-viewports/7-viewport-render-target.tsx
  livelink.samples/src/samples/react-core/5-clients/2-clients-avatars.tsx
  livelink.samples/src/samples/react-ui/x-activity-watcher.tsx
  package-lock.json
Due: js:livelink.react:publish, js:livelink.react.ui:publish

fix: client avatar zIndex
  livelink.react/sources/components/core/Canvas.tsx
  livelink.samples/src/samples/react-core/5-clients/2-clients-avatars.tsx
Due: js:livelink.react:publish

refactor: newEntity now takes descontructed params
  livelink.js/sources/Scene.ts
  livelink.react/sources/controllers/DefaultCameraController.ts
  livelink.react/sources/hooks/useEntity.ts
  livelink.react/sources/web-xr/WebXRHelper.ts
  livelink.samples/src/samples/__to_sort__/render-target-debug/RenderTargetDebug.tsx
Due: js:livelink.react:publish

feat: create entity sample
  livelink.samples/src/samples/index.ts
  livelink.samples/src/samples/react-core/6-entities/1-create-entity.tsx
Due: none

fix: activity watcher
  livelink.react/sources/components/core/Livelink.tsx
  livelink.samples/src/samples/react-ui/x-activity-watcher.tsx
Due: js:livelink.react:publish

feat: smart object
  livelink.samples/src/samples/index.ts
  livelink.samples/src/samples/react-core/6-entities/x-smart-object.tsx
  livelink.samples/src/samples/react-ui/1-activity-watcher.tsx
  livelink.samples/src/samples/react-ui/2-sun-position-picker.tsx
  livelink.samples/src/samples/react-ui/3-render-graph-settings.tsx
Due: none

refactor: added world position and orientation in CameraProjection so we don't need to expose FrameCameraTransform
  livelink.js/sources/index.ts
  livelink.js/sources/rendering/CameraProjection.ts
  livelink.js/sources/rendering/Viewport.ts
  livelink.js/sources/rendering/decoders/EncodedFrameConsumer.ts
  livelink.js/sources/rendering/decoders/FrameCameraTransform.ts
  livelink.js/sources/rendering/decoders/FrameMetaData.ts
  livelink.js/sources/rendering/surfaces/OverlayInterface.ts
  livelink.js/sources/rendering/surfaces/RenderingSurface.ts
  livelink.react/sources/overlays/ReactOverlay.ts
  livelink.react/sources/web-xr/WebXRHelper.ts
  livelink.samples/src/samples/__to_sort__/dom-overlay/overlay/DOMOverlay.ts
  livelink.three/sources/ThreeOverlay.ts
Due: js:livelink.three:publish, js:livelink.react:publish

refactor: function return type + added mermaid typedoc plugin
  livelink.js/eslint.config.mjs
  livelink.js/example.html
  livelink.js/example.md
  livelink.js/package.json
  livelink.js/sources/Livelink.ts
  livelink.js/sources/inputs/Gamepad.ts
  livelink.js/sources/inputs/Keyboard.ts
  livelink.js/sources/inputs/Mouse.ts
  livelink.js/sources/rendering/CameraProjection.ts
  livelink.js/sources/rendering/Viewport.ts
  livelink.js/sources/rendering/decoders/DecodedFrameConsumer.ts
  livelink.js/sources/rendering/decoders/EncodedFrameConsumer.ts
  livelink.js/sources/rendering/decoders/RemoteRenderingSurface.ts
  livelink.js/sources/rendering/decoders/SoftwareDecoder.ts
  livelink.js/sources/rendering/decoders/WebCodecsDecoder.ts
  livelink.js/sources/rendering/surfaces/OffscreenSurface.ts
  livelink.js/sources/rendering/surfaces/RenderingSurface.ts
  livelink.js/sources/rendering/surfaces/RenderingSurfaceBase.ts
  livelink.js/sources/rendering/surfaces/VirtualSurface.ts
  livelink.js/sources/scene/ComponentHandler.ts
  livelink.js/sources/scene/Entity.ts
  livelink.js/sources/scene/EntityRegistry.ts
  livelink.js/sources/scene/Filters.ts
  livelink.js/sources/scene/Scene.ts
  livelink.js/sources/scene/Settings.ts
  livelink.js/sources/session/Client.ts
  livelink.js/sources/session/Session.ts
  livelink.js/typedoc.config.mjs
  livelink.react/sources/components/core/Livelink.tsx
  livelink.react/sources/web-xr/WebXRHelper.ts
Due: js:livelink.react:publish

build: eslint no unused imports
  livelink.js/eslint.config.mjs
  livelink.js/package.json
Due: none

docs: more docs
  livelink.js/sources/rendering/CameraProjection.ts
  livelink.js/sources/rendering/Viewport.ts
  livelink.js/sources/rendering/decoders/DecodedFrameConsumer.ts
  livelink.js/sources/rendering/decoders/EncodedFrameConsumer.ts
  livelink.js/sources/rendering/decoders/RemoteRenderingSurface.ts
  livelink.js/sources/rendering/decoders/WebCodecsDecoder.ts
  livelink.js/sources/rendering/surfaces/CanvasAutoResizer.ts
  livelink.js/sources/rendering/surfaces/OffscreenSurface.ts
  livelink.js/sources/rendering/surfaces/OverlayInterface.ts
  livelink.js/sources/rendering/surfaces/RenderingSurface.ts
  livelink.js/sources/rendering/surfaces/RenderingSurfaceBase.ts
  livelink.js/sources/rendering/surfaces/VirtualSurface.ts
  livelink.js/sources/scene/EntityRegistry.ts
Due: none

chore: rename Settings to SceneSettings
  livelink.js/sources/index.ts
  livelink.js/sources/scene/Scene.ts
  livelink.js/sources/scene/SceneSettings.ts
Due: none

refactor: moved camera controller base to livelink.js + docs
  livelink.js/sources/index.ts
  livelink.js/sources/rendering/CameraControllerBase.ts
  livelink.js/sources/rendering/surfaces/Rect.ts
  livelink.react/sources/components/core/CameraController.tsx
  livelink.react/sources/components/core/Canvas.tsx
  livelink.react/sources/components/core/Clients.tsx
  livelink.react/sources/components/core/Livelink.tsx
  livelink.react/sources/components/core/Viewport.tsx
  livelink.react/sources/components/overlays/DOM3DElement.tsx
  livelink.react/sources/components/overlays/DOM3DOverlay.tsx
  livelink.react/sources/components/overlays/DOMEntity.tsx
  livelink.react/sources/controllers/DefaultCameraController.ts
  livelink.react/sources/hooks/useCameraEntity.ts
  livelink.react/sources/hooks/useEntity.ts
  livelink.react/sources/index.ts
  livelink.react/sources/overlays/React3DElement.tsx
  livelink.react/sources/overlays/ReactOverlay.ts
  livelink.react/typedoc.config.mjs
  livelink.samples/src/samples/react-core/4-cameras/2-custom-camera-controller.tsx
Due: js:livelink.react:publish

fix: typedoc warnings
  livelink.react/sources/index.ts
  livelink.react/sources/web-xr/WebXRHelper.ts
Due: js:livelink.react:publish

ci: re-order package dependencies
  .gitlab-ci.yml
Due: none

feat: entity picking sample + refactor of hovered data + clean up
  livelink.js/sources/Livelink.ts
  livelink.js/sources/rendering/Viewport.ts
  livelink.js/sources/scene/Scene.ts
  livelink.js/sources/session/Client.ts
  livelink.js/sources/session/Session.ts
  livelink.react/package.json
  livelink.samples/README.md
  livelink.samples/src/App.tsx
  livelink.samples/src/components/BarsIcon.tsx
  livelink.samples/src/components/Home.tsx
  livelink.samples/src/components/LegacyCanvas.tsx
  livelink.samples/src/routes/root.tsx
  livelink.samples/src/samples/index.ts
  livelink.samples/src/samples/react-core/6-entities/2-entity-picking.tsx
  livelink.samples/src/styles/components/output.tsx
  livelink.samples/src/vite-env.d.ts
  livelink.samples/tailwind.config.js
  package-lock.json
Due: js:livelink.react:publish

ci: fixed circular dependencies
  .gitlab-ci.yml
Due: none

feat: show sample code in pannel
  livelink.samples/package.json
  livelink.samples/src/components/SamplePlayer/SamplePlayer.tsx
  livelink.samples/src/main.tsx
  livelink.samples/src/samples/index.ts
  livelink.samples/src/samples/react-core/1-viewports/1-single-canvas-single-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/2-single-canvas-double-viewports.tsx
  livelink.samples/src/samples/react-core/1-viewports/3-double-canvas-single-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/4-double-canvas-double-viewports.tsx
  livelink.samples/src/samples/react-core/1-viewports/5-canvas-in-canvas.tsx
  livelink.samples/src/samples/react-core/1-viewports/6-viewport-in-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/7-viewport-render-target.tsx
  livelink.samples/vite.config.ts
  package-lock.json
Due: none

chore: eslint
  livelink.js/ci/EntityBase.template.ts
  livelink.js/eslint.config.mjs
  livelink.js/package.json
  livelink.js/sources/inputs/Gamepad.ts
  livelink.js/sources/maths/quaternion.ts
  livelink.js/sources/rendering/decoders/SoftwareDecoder.ts
  livelink.js/sources/rendering/surfaces/CanvasAutoResizer.ts
  livelink.js/sources/rendering/surfaces/VirtualSurface.ts
  livelink.js/sources/scene/DataObject.ts
  livelink.js/sources/scene/Entity.ts
  livelink.js/sources/scene/EntityRegistry.ts
  livelink.js/sources/scene/Filters.ts
  livelink.js/sources/scene/Scene.ts
  livelink.react/sources/hooks/useEntity.ts
  livelink.samples/src/samples/advanced/x-live-skeletal-animation.tsx
  livelink.samples/src/samples/react-core/6-entities/2-entity-picking.tsx
  livelink.samples/src/samples/react-core/6-entities/x-smart-object.tsx
  livelink.samples/src/samples/react-ui/2-sun-position-picker.tsx
  package-lock.json
Due: js:livelink.react:publish

fix: new core (need to upgrade core version still)
  livelink.js/ci/ComponentsRecord.template.ts
  livelink.js/ci/EntityBase.template.ts
  livelink.js/ci/SettingsBase.template.ts
  livelink.js/ci/auto-generate.js
  livelink.js/sources/Livelink.ts
  livelink.js/sources/index.ts
  livelink.js/sources/scene/DataObject.ts
  livelink.js/sources/scene/Entity.ts
  livelink.js/sources/scene/EntityRegistry.ts
  livelink.js/sources/scene/Scene.ts
  livelink.js/sources/scene/SceneSettings.ts
  livelink.react.ui/sources/components/RenderGraphSettings/index.tsx
Due: js:livelink.react.ui:publish

chore: upgrade to core 0.8.0
  livelink.js/ci/EntityBase.template.ts
  livelink.js/eslint.config.mjs
  livelink.js/package.json
  package-lock.json
Due: none

fix: remove unwanted dependency on react ref that triggers a double webXRHelper.initialize()
  livelink.react/sources/components/core/WebXR.tsx
Due: js:livelink.react:publish

fix: quick fix to prevent useless react render on each camera update
  livelink.react/sources/components/overlays/DOM3DElement.tsx
  livelink.react/sources/hooks/useEntity.ts
  livelink.react/sources/overlays/ReactOverlay.ts
  livelink.samples/src/samples/react-core/6-entities/x-smart-object.tsx
Due: js:livelink.react:publish

fix: remote rendering surface not resized because webxr viewports miss camera_projection when added
  livelink.react/sources/components/core/WebXR.tsx
  livelink.react/sources/web-xr/WebXRHelper.ts
Due: js:livelink.react:publish

feat(livelink.js): add projectClipToWorld and computeRay methods in CameraProjection
  livelink.js/sources/rendering/CameraProjection.ts
Due: none

feat: culling box geometry sample
  livelink.react/sources/components/overlays/DOM3DElement.tsx
  livelink.react/sources/hooks/useCameraEntity.ts
  livelink.samples/src/samples/advanced/x-culling-box-geometry.tsx
  livelink.samples/src/samples/index.ts
Due: js:livelink.react:publish

feat: webxr enables fake alpha and not display background only for immersive-ar
  livelink.react/sources/web-xr/WebXRHelper.ts
Due: js:livelink.react:publish

feat: add webxr sample for immersive-ar on iOS using launch.variant3d.com
  livelink.samples/.env
  livelink.samples/src/samples/advanced/x-web-xr-ios.tsx
  livelink.samples/src/samples/index.ts
Due: none

chore: remove useless removeEventListener
  livelink.samples/src/samples/advanced/x-web-xr-ios.tsx
Due: none

feat: x-web-xr-ios better load of the variant launch sdk and handle load script error
  livelink.samples/src/samples/advanced/x-web-xr-ios.tsx
Due: none
