Repository 3dverse/livelink: changes, and which GitLab CI jobs are due for each by the changed paths.
All: js:livelink.three:publish, js:livelink.react:publish, js:livelink.react.ui:publish

Path conditions:
  js:livelink.three:publish: any of: livelink.three/**/*, livelink.three/*
  js:livelink.react:publish: any of: livelink.react/**/*, livelink.react/*
  js:livelink.react.ui:publish: any of: livelink.react.ui/**/*, livelink.react.ui/*

feat: ViewCube widget
  livelink.react.ui/sources/components/ViewCube/index.tsx
  livelink.react.ui/sources/index.ts
  livelink.react/sources/controllers/DefaultCameraController.ts
  livelink.samples/src/samples/advanced/x-culling-box-geometry.tsx
  livelink.samples/src/samples/index.ts
  livelink.samples/src/samples/react-ui/4-view-cube.tsx
Due: js:livelink.react:publish, js:livelink.react.ui:publish

fix: cube view face size
  livelink.react.ui/sources/components/ViewCube/index.tsx
  livelink.samples/src/samples/react-ui/4-view-cube.tsx
Due: js:livelink.react.ui:publish

refactor: adapted to core 1.0
  livelink.js/ci/EntityBase.template.ts
  livelink.js/ci/auto-generate.js
  livelink.js/sources/Livelink.ts
  livelink.js/sources/scene/ComponentHandler.ts
  livelink.js/sources/scene/Entity.ts
  livelink.js/sources/scene/EntityRegistry.ts
  livelink.js/sources/scene/Scene.ts
Due: none

refactor: adapted to core 1.0
  livelink.js/ci/EntityBase.template.ts
  livelink.js/sources/Livelink.ts
  livelink.js/sources/inputs/Gamepad.ts
  livelink.js/sources/inputs/Keyboard.ts
  livelink.js/sources/inputs/Mouse.ts
  livelink.js/sources/rendering/Viewport.ts
  livelink.js/sources/rendering/decoders/RemoteRenderingSurface.ts
  livelink.js/sources/rendering/decoders/SoftwareDecoder.ts
  livelink.js/sources/rendering/decoders/WebCodecsDecoder.ts
  livelink.js/sources/scene/ComponentHandler.ts
  livelink.js/sources/scene/Entity.ts
  livelink.js/sources/scene/EntityRegistry.ts
  livelink.js/sources/scene/Scene.ts
  livelink.js/sources/session/Client.ts
  livelink.react/sources/components/core/Livelink.tsx
  livelink.react/sources/hooks/useEntity.ts
  livelink.samples/src/samples/advanced/x-live-skeletal-animation.tsx
  livelink.samples/src/samples/react-ui/1-activity-watcher.tsx
Due: js:livelink.react:publish

refactor: wip
  livelink.js/ci/EntityBase.template.ts
  livelink.js/sources/scene/Entity.ts
  livelink.js/sources/scene/Scene.ts
Due: none

refactor: add internal prefix "_" to Scene.entity_registry
  livelink.js/sources/Livelink.ts
  livelink.js/sources/scene/Entity.ts
  livelink.js/sources/scene/Scene.ts
Due: none

feat: use unified search entities from core
  livelink.js/ci/EntityBase.template.ts
  livelink.js/sources/Livelink.ts
  livelink.js/sources/rendering/surfaces/RenderingSurfaceBase.ts
  livelink.js/sources/scene/ComponentHandler.ts
  livelink.js/sources/scene/Entity.ts
  livelink.js/sources/scene/EntityRegistry.ts
  livelink.js/sources/scene/Scene.ts
  livelink.samples/src/samples/__to_sort__/labeling-station/LabelingStation.tsx
Due: none

chore: removed undefined components on entity construction
  livelink.js/sources/scene/Entity.ts
Due: none

refactor: removed default values handling fron entity registry
  livelink.js/sources/scene/EntityRegistry.ts
Due: none

fix: add the proxy to the registry and not the entity itself
  livelink.js/sources/scene/Scene.ts
Due: none

fix: import path
  livelink.js/sources/scene/Scene.ts
Due: none

chore: removed commented code
  livelink.js/sources/scene/Scene.ts
Due: none

refactor: unified update components messages
  livelink.js/TODO.md
  livelink.js/ci/EntityBase.template.ts
  livelink.js/sources/Livelink.ts
  livelink.js/sources/rendering/Viewport.ts
  livelink.js/sources/scene/ComponentHandler.ts
  livelink.js/sources/scene/Entity.ts
  livelink.js/sources/scene/EntityRegistry.ts
  livelink.js/sources/scene/Scene.ts
Due: none

fix: I swear this cube will be displayed correctly
  livelink.react.ui/sources/components/ViewCube/index.tsx
  livelink.samples/src/samples/react-ui/4-view-cube.tsx
Due: js:livelink.react.ui:publish

refactor: no more DynamicLoader.Enums, use string union types instead
  livelink.js/sources/Livelink.ts
  livelink.js/sources/inputs/Gamepad.ts
  livelink.js/sources/inputs/Keyboard.ts
  livelink.js/sources/inputs/Mouse.ts
  livelink.js/sources/rendering/Viewport.ts
  livelink.js/sources/rendering/decoders/RemoteRenderingSurface.ts
  livelink.js/sources/rendering/decoders/SoftwareDecoder.ts
  livelink.js/sources/rendering/decoders/WebCodecsDecoder.ts
  livelink.three/sources/react/ThreeOverlayComponent.tsx
Due: js:livelink.three:publish

refactor: replaced entity proxy by component getter and setter
  livelink.js/TODO.md
  livelink.js/ci/EntityBase.template.ts
  livelink.js/ci/auto-generate.js
  livelink.js/sources/scene/Entity.ts
  livelink.js/sources/scene/Scene.ts
  livelink.react.ui/sources/components/RenderGraphSettings/index.tsx
  livelink.react.ui/sources/components/SunPositionPicker/index.tsx
  livelink.react/sources/hooks/useEntity.ts
  livelink.three/sources/react/ThreeOverlayComponent.tsx
Due: js:livelink.three:publish, js:livelink.react:publish, js:livelink.react.ui:publish

refactor: get rid of proxy_state and preserve the reference of component values
  livelink.js/sources/scene/Entity.ts
  livelink.js/sources/scene/EntityRegistry.ts
  livelink.js/sources/scene/Scene.ts
Due: none

refactor: get rid of exposed component values prefixed by an underscore
  livelink.js/ci/auto-generate.js
  livelink.js/sources/scene/Entity.ts
Due: none

fix: yark fix on LocalTransformHandler
  livelink.js/sources/scene/ComponentHandler.ts
  livelink.js/sources/scene/Entity.ts
  livelink.react/sources/controllers/DefaultCameraController.ts
Due: js:livelink.react:publish

refactor: removed a bunch of !
  livelink.js/sources/rendering/CameraProjection.ts
  livelink.js/sources/scene/EntityRegistry.ts
  livelink.react/sources/components/overlays/DOMEntity.tsx
  livelink.react/sources/controllers/DefaultCameraController.ts
  livelink.react/sources/hooks/useEntity.ts
  livelink.react/sources/web-xr/WebXRHelper.ts
  livelink.samples/src/samples/advanced/x-culling-box-geometry.tsx
  livelink.samples/src/samples/react-core/4-cameras/2-custom-camera-controller.tsx
  livelink.samples/src/samples/react-core/6-entities/x-smart-object.tsx
  livelink.samples/src/samples/react-ui/4-view-cube.tsx
Due: js:livelink.react:publish

refactor: removed createEntityProxy using Entity constructor instead
  livelink.js/sources/scene/Scene.ts
Due: none

refactor: working component accessors with proxies
  livelink.js/TODO.md
  livelink.js/ci/EntityBase.template.ts
  livelink.js/ci/auto-generate.js
  livelink.js/sources/scene/Entity.ts
Due: none

refactor: Entity class can now use # for private members
  livelink.js/ci/EntityBase.template.ts
  livelink.js/sources/scene/Entity.ts
Due: none

docs: minor fixes + added a readme to livelink.js
  livelink.js/README.md
  livelink.js/TODO.md
  livelink.js/example.html
  livelink.js/example.md
  livelink.js/sources/rendering/CameraProjection.ts
Due: none

fix: adapted js to core 1.0
  livelink.js/sources/Livelink.ts
  livelink.js/sources/scene/EntityRegistry.ts
  livelink.js/sources/scene/Scene.ts
  livelink.js/sources/session/Session.ts
Due: none

refactor: implement livelink-camera-controls
  livelink.react/package.json
  livelink.react/sources/controllers/DefaultCameraController.ts
  package-lock.json
Due: js:livelink.react:publish

refactor: livelink core 1.0!
  livelink.js/ci/auto-generate.js
  livelink.js/package.json
  livelink.js/sources/Livelink.ts
  livelink.js/sources/inputs/Mouse.ts
  livelink.js/sources/rendering/Viewport.ts
  livelink.js/sources/rendering/decoders/EncodedFrameConsumer.ts
  livelink.js/sources/rendering/decoders/FrameMetaData.ts
  livelink.js/sources/rendering/decoders/RemoteRenderingSurface.ts
  livelink.js/sources/rendering/decoders/SoftwareDecoder.ts
  livelink.js/sources/rendering/decoders/WebCodecsDecoder.ts
  livelink.js/sources/rendering/surfaces/RenderingSurfaceBase.ts
  livelink.js/sources/scene/Scene.ts
  livelink.js/sources/scene/SceneSettings.ts
  livelink.js/sources/session/Client.ts
  livelink.js/sources/session/Session.ts
  livelink.react/package.json
  livelink.react/sources/components/core/Livelink.tsx
  package-lock.json
Due: js:livelink.react:publish

fix: adapted to core 1.0 + session events
  livelink.js/sources/Livelink.ts
  livelink.js/sources/TypedEventTarget.ts
  livelink.js/sources/index.ts
  livelink.js/sources/session/Session.ts
  livelink.js/sources/session/SessionEvents.ts
  livelink.react/sources/components/core/Clients.tsx
  livelink.react/sources/components/core/Livelink.tsx
Due: js:livelink.react:publish

refactor: removed once option when listening for on disconnect event
  livelink.js/TODO.md
  livelink.js/sources/Livelink.ts
Due: none

v0.8.0
  livelink.js/package.json
  livelink.react.ui/package.json
  livelink.react/package.json
  livelink.three/package.json
  package-lock.json
Due: js:livelink.three:publish, js:livelink.react:publish, js:livelink.react.ui:publish

fix(livelink.react/web-xr): replace three by threejs-math
  livelink.react/package.json
  livelink.react/sources/web-xr/WebXRHelper.ts
  livelink.react/sources/web-xr/WebXRInputRelay.ts
  livelink.react/tsconfig.json
  package-lock.json
Due: js:livelink.react:publish

fix(samples): fix imports
  livelink.samples/src/samples/advanced/x-culling-box-geometry.tsx
  livelink.samples/src/samples/advanced/x-live-skeletal-animation.tsx
  livelink.samples/src/samples/react-ui/4-view-cube.tsx
Due: none

docs: fix doc build
  livelink.js/package.json
  package-lock.json
Due: none

ci: improved publish version logic using semver
  .gitlab-ci.yml
Due: none

fix(samples): fixed vite file content variable and add a new variable to keep the original filename
  livelink.samples/src/main.tsx
  livelink.samples/src/samples/advanced/x-culling-box-geometry.tsx
  livelink.samples/src/samples/advanced/x-live-skeletal-animation.tsx
  livelink.samples/src/samples/advanced/x-multiplanar-reconstruction.tsx
  livelink.samples/src/samples/advanced/x-web-xr-ios.tsx
  livelink.samples/src/samples/advanced/x-web-xr.tsx
  livelink.samples/src/samples/react-core/1-viewports/1-single-canvas-single-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/2-single-canvas-double-viewports.tsx
  livelink.samples/src/samples/react-core/1-viewports/3-double-canvas-single-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/4-double-canvas-double-viewports.tsx
  livelink.samples/src/samples/react-core/1-viewports/5-canvas-in-canvas.tsx
  livelink.samples/src/samples/react-core/1-viewports/6-viewport-in-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/7-viewport-render-target.tsx
  livelink.samples/src/samples/react-core/2-sessions/1-scene-selector.tsx
  livelink.samples/src/samples/react-core/2-sessions/2-multi-session.tsx
  livelink.samples/src/samples/react-core/2-sessions/3-join-session.tsx
  livelink.samples/src/samples/react-core/3-overlays/1-dom-3d-overlay.tsx
  livelink.samples/src/samples/react-core/3-overlays/2-threejs-overlay.tsx
  livelink.samples/src/samples/react-core/3-overlays/3-multi-overlay.tsx
  livelink.samples/src/samples/react-core/4-cameras/1-default-camera-controller.tsx
  livelink.samples/src/samples/react-core/4-cameras/2-custom-camera-controller.tsx
  livelink.samples/src/samples/react-core/4-cameras/3-third-person-controller.tsx
  livelink.samples/src/samples/react-core/4-cameras/4-camera-render-target.tsx
  livelink.samples/src/samples/react-core/5-clients/1-clients-list.tsx
  livelink.samples/src/samples/react-core/5-clients/2-clients-avatars.tsx
  livelink.samples/src/samples/react-core/6-entities/1-create-entity.tsx
  livelink.samples/src/samples/react-core/6-entities/2-entity-picking.tsx
  livelink.samples/src/samples/react-core/6-entities/x-smart-object.tsx
  livelink.samples/src/samples/react-ui/1-activity-watcher.tsx
  livelink.samples/src/samples/react-ui/2-sun-position-picker.tsx
  livelink.samples/src/samples/react-ui/3-render-graph-settings.tsx
  livelink.samples/src/samples/react-ui/4-view-cube.tsx
  livelink.samples/vite.config.ts
Due: none

ci: update-version has to increment the version if the latest is greater or equal than the current version
  .gitlab-ci.yml
Due: none

ci(livelink.js): set SYNC_LIVELINK_JS to true when triggering upstream pipeline
  .gitlab-ci.yml
Due: none

refactor: moved DefaultCameraController and XRContext from livelink-react to livelink
  livelink.js/example.html
  livelink.js/package.json
  livelink.js/sources/Livelink.ts
  livelink.js/sources/index.ts
  livelink.js/sources/rendering/CameraController.ts
  livelink.js/sources/rendering/contexts/XRContext.ts
  livelink.js/sources/session/Session.ts
  livelink.js/tsconfig.json
  livelink.react/package.json
  livelink.react/sources/components/core/CameraController.tsx
  livelink.react/sources/index.ts
  livelink.react/sources/web-xr/PassthroughXRContext.ts
  livelink.react/sources/web-xr/WebXRHelper.ts
  livelink.samples/src/samples/react-core/3-overlays/1-dom-3d-overlay.tsx
  package-lock.json
Due: js:livelink.react:publish

style: sidebar links
  livelink.samples/src/components/MainMenu.tsx
  livelink.samples/src/styles/tailwind/base/button.css
  livelink.samples/src/styles/tailwind/base/core.css
Due: none

style: add loading overlay
  livelink.samples/src/components/SamplePlayer/LoadingOverlay.tsx
  livelink.samples/src/components/SamplePlayer/index.tsx
  livelink.samples/src/samples/react-core/1-viewports/1-single-canvas-single-viewport.tsx
  livelink.samples/src/styles/index.css
  livelink.samples/src/styles/tailwind/base/glow-effect.css
  livelink.samples/src/styles/tailwind/components/loader-progress-bar-indeterminate.css
Due: none
