Repository 3dverse/livelink: changes, and which GitLab CI jobs are due for each by the changed paths.
All: js:livelink.three:publish, js:livelink.react:publish, js:livelink.react.ui:publish

js:livelink.three:publish:
  stage: deploy
  image: node:${NODE_VERSION}
  before_script:
  - - .npm-regcreds
    - before_script
  - npm config set @3dverse:registry="https://registry.npmjs.org" --userconfig=".npmrc"
  - npm config set //registry.npmjs.org/:_authToken="${NPMJS_ACCESS_TOKEN}" --userconfig=".npmrc"
  ...

js:livelink.react:publish:
  stage: deploy
  image: node:${NODE_VERSION}
  before_script:
  - - .npm-regcreds
    - before_script
  - npm config set @3dverse:registry="https://registry.npmjs.org" --userconfig=".npmrc"
  - npm config set //registry.npmjs.org/:_authToken="${NPMJS_ACCESS_TOKEN}" --userconfig=".npmrc"
  ...

js:livelink.react.ui:publish:
  stage: deploy
  image: node:${NODE_VERSION}
  before_script:
  - - .npm-regcreds
    - before_script
  - npm config set @3dverse:registry="https://registry.npmjs.org" --userconfig=".npmrc"
  - npm config set //registry.npmjs.org/:_authToken="${NPMJS_ACCESS_TOKEN}" --userconfig=".npmrc"
  ...

build: do not bundle dependencies into packages
  livelink.js/esbuild.js
  livelink.react.ui/esbuild.js
  livelink.react.ui/package.json
  livelink.react/esbuild.js
  livelink.three/esbuild.js
  package-lock.json
Due: js:livelink.three:publish, js:livelink.react:publish, js:livelink.react.ui:publish

v0.8.4
  livelink.js/package.json
Due: none

refactor: added picking and hovering callback directly in viewport component
  livelink.js/sources/index.ts
  livelink.js/sources/rendering/Viewport.ts
  livelink.js/sources/rendering/ViewportEvents.ts
  livelink.react/sources/components/core/Viewport.tsx
  livelink.samples/src/samples/react-core/6-entities/2-entity-picking.tsx
Due: js:livelink.react:publish

build: fix local core dev
  livelink.js/esbuild.js
Due: none

fix: constrain sun position picker to the trig circle, and fix shadow toggle
  livelink.react.ui/sources/components/SunPositionPicker/index.tsx
  package-lock.json
Due: js:livelink.react.ui:publish

fix: highlight picked entity in pikcing sample
  TODO.md
  livelink.samples/src/samples/react-core/6-entities/2-entity-picking.tsx
Due: none

fix: expand collapse main menu
  livelink.samples/src/App.tsx
  livelink.samples/src/components/MainMenu.tsx
  livelink.samples/src/components/SamplePlayer/SamplePlayer.tsx
  livelink.samples/src/components/icons/BarsIcon.tsx
  livelink.samples/src/components/icons/CollapseIcon.tsx
Due: none

fix: expand collapse code block
  livelink.samples/src/App.tsx
  livelink.samples/src/components/SamplePlayer/CodeBlock.tsx
  livelink.samples/src/components/SamplePlayer/CopyCodeButton.tsx
  livelink.samples/src/components/SamplePlayer/SamplePlayer.tsx
  livelink.samples/src/components/icons/CopyIcon.tsx
Due: none

style: home page
  livelink.samples/src/components/Home.tsx
  livelink.samples/src/components/MainMenu.tsx
Due: none

fix: store collapsed menu and code block in local storage
  livelink.samples/src/components/MainMenu.tsx
  livelink.samples/src/components/SamplePlayer/CodeBlock.tsx
  livelink.samples/src/lib/localStorage.ts
Due: none

style: minor update on samples
  livelink.samples/src/samples/react-core/2-sessions/2-multi-session.tsx
  livelink.samples/src/samples/react-core/2-sessions/3-join-session.tsx
  livelink.samples/src/samples/react-core/5-clients/1-clients-list.tsx
  livelink.samples/src/samples/react-core/5-clients/2-clients-avatars.tsx
Due: none

style: sample player disconnected state
  livelink.samples/src/components/MainMenu.tsx
  livelink.samples/src/components/SamplePlayer/SamplePlayer.tsx
Due: none

fix: icon sizes
  livelink.samples/src/components/icons/BarsIcon.tsx
  livelink.samples/src/components/icons/CollapseIcon.tsx
  livelink.samples/src/components/icons/CopyIcon.tsx
Due: none

refactor: unify css class order
  livelink.react.ui/sources/components/LoadingOverlay/index.tsx
  livelink.samples/src/components/MainMenu.tsx
  livelink.samples/src/components/SamplePlayer/CodeBlock.tsx
  livelink.samples/src/components/SamplePlayer/DisconnectedModal.tsx
  livelink.samples/src/components/SamplePlayer/SamplePlayer.tsx
  livelink.samples/src/samples/__to_sort__/controller-effects/ControllerEffects.tsx
  livelink.samples/src/samples/__to_sort__/dom-overlay/DOMOverlaySample.tsx
  livelink.samples/src/samples/__to_sort__/mpr/MPR.tsx
  livelink.samples/src/samples/__to_sort__/smart-object/SmartObject.tsx
  livelink.samples/src/samples/advanced/x-live-skeletal-animation.tsx
  livelink.samples/src/samples/advanced/x-web-xr-ios.tsx
  livelink.samples/src/samples/advanced/x-web-xr.tsx
  livelink.samples/src/samples/react-core/2-sessions/1-scene-selector.tsx
  livelink.samples/src/samples/react-core/2-sessions/2-multi-session.tsx
  livelink.samples/src/samples/react-core/2-sessions/3-join-session.tsx
  livelink.samples/src/samples/react-core/5-clients/1-clients-list.tsx
  livelink.samples/src/samples/react-core/5-clients/2-clients-avatars.tsx
  livelink.samples/src/samples/react-ui/4-view-cube.tsx
Due: js:livelink.react.ui:publish

fix: code block height
  livelink.samples/src/components/SamplePlayer/CodeBlock.tsx
Due: none

fix: code block width
  livelink.samples/src/components/SamplePlayer/CodeBlock.tsx
Due: none

refactor: unify css classes
  livelink.samples/src/samples/react-core/6-entities/1-create-entity.tsx
  livelink.samples/src/samples/react-core/6-entities/2-entity-picking.tsx
Due: none

fix(livelink.js): update @3dverse/livelink-camera-controls to v0.3.2 to fix doc generation issues
  livelink.js/package.json
  package-lock.json
Due: none

v0.8.5
  livelink.js/package.json
Due: none

build: livelink-react depends of livelink.js 0.8.5
  livelink.react/package.json
  package-lock.json
Due: js:livelink.react:publish

build(react): add motion-controllers as a dependency
  livelink.react/package.json
  package-lock.json
Due: js:livelink.react:publish

fix(livelink.js): update @3dverse/livelink-camera-controls to v0.3.3 to fix doc generation issues
  livelink.js/package.json
  package-lock.json
Due: none

v0.8.6
  livelink.js/package.json
Due: none

style: loading overlay blur
  livelink.react.ui/sources/components-common/Rocket3dverse.tsx
  livelink.react.ui/sources/components-common/glowEffectStyle.ts
  livelink.react.ui/sources/components/LoadingOverlay/index.tsx
Due: js:livelink.react.ui:publish

fix: main menu expand collapse
  livelink.samples/src/components/MainMenu.tsx
Due: none

style: unify css classes
  livelink.react.ui/sources/components/LoadingOverlay/index.tsx
  livelink.samples/src/components/MainMenu.tsx
  livelink.samples/src/samples/advanced/x-culling-box-geometry.tsx
  livelink.samples/src/samples/react-ui/4-view-cube.tsx
Due: js:livelink.react.ui:publish

fix: replace some roles by data-role
  livelink.react/sources/components/core/Canvas.tsx
  livelink.react/sources/components/core/Viewport.tsx
  livelink.react/sources/components/core/WebXR.tsx
  livelink.react/sources/components/overlays/DOM3DOverlay.tsx
Due: js:livelink.react:publish

style: loading overlay background
  livelink.react.ui/sources/components/LoadingOverlay/index.tsx
  livelink.samples/src/components/SamplePlayer/SamplePlayer.tsx
Due: js:livelink.react.ui:publish

style: remove scrollbar thin
  livelink.react.ui/sources/chakra/theme.tsx
Due: js:livelink.react.ui:publish

refactor(livelink.js): 🐁 device
  livelink.js/sources/Livelink.ts
  livelink.js/sources/inputs/Mouse.ts
  livelink.js/sources/rendering/Viewport.ts
  livelink.samples/src/samples/advanced/x-culling-box-geometry.tsx
  livelink.samples/src/samples/react-core/4-cameras/3-third-person-controller.tsx
  package-lock.json
Due: none

refactor(samples): changed collaboration scenes
  livelink.samples/src/samples/react-core/5-clients/1-clients-list.tsx
  livelink.samples/src/samples/react-core/5-clients/2-clients-avatars.tsx
Due: none

fix(livelink.js): close last decoded frame
  livelink.js/sources/rendering/decoders/WebCodecsDecoder.ts
Due: none

build(livelink.js): bundle dependencies, and set dependencies as devDependencies
  livelink.js/esbuild.js
  livelink.js/package.json
  package-lock.json
Due: none

v0.8.7
  livelink.js/package.json
  livelink.samples/src/components/MainMenu.tsx
Due: none

build: livelink-react depends of livelink.js 0.8.7
  livelink.react/package.json
  package-lock.json
Due: js:livelink.react:publish

docs(livelink.js): fix example
  livelink.js/example.html
Due: none

refactor(livelink.js): keyboard & gamepad devices
  livelink.js/sources/Livelink.ts
  livelink.js/sources/index.ts
  livelink.js/sources/inputs/Gamepad.ts
  livelink.js/sources/inputs/InputDevice.ts
  livelink.js/sources/inputs/Keyboard.ts
  livelink.samples/src/samples/react-core/4-cameras/3-third-person-controller.tsx
Due: none

chore(livelink.js): pre-format generated Markdown files when building docs
  livelink.js/package.json
Due: none

v0.8.8
  livelink.js/package.json
Due: none

fix(livelink.js): install missing dev dependency
  livelink.js/package.json
  package-lock.json
Due: none

Path conditions:
  js:livelink.three:publish: any of: livelink.three/**/*, livelink.three/*
  js:livelink.react:publish: any of: livelink.react/**/*, livelink.react/*
  js:livelink.react.ui:publish: any of: livelink.react.ui/**/*, livelink.react.ui/*
