Repository 3dverse/livelink: changes, and which GitLab CI jobs are due for each by the changed paths.
All: js:livelink.three:publish, js:livelink.react:publish

js:livelink.three:publish:
  stage: deploy
  image: node:${NODE_VERSION}
  before_script:
  - - .npm-regcreds
    - before_script
  - npm config set @3dverse:registry="https://registry.npmjs.org" --userconfig=".npmrc"
  - npm config set //registry.npmjs.org/:_authToken="${NPMJS_ACCESS_TOKEN}" --userconfig=".npmrc"
  ...

js:livelink.react:publish:
  stage: deploy
  image: node:${NODE_VERSION}
  before_script:
  - - .npm-regcreds
    - before_script
  - npm config set @3dverse:registry="https://registry.npmjs.org" --userconfig=".npmrc"
  - npm config set //registry.npmjs.org/:_authToken="${NPMJS_ACCESS_TOKEN}" --userconfig=".npmrc"
  ...

chore: CRLF to LF
  .editorconfig
  .gitignore
  livelink.js/package.json
  livelink.js/sources/Entity.ts
  livelink.js/sources/index.ts
  livelink.js/sources/surfaces/OverlayInterface.ts
  livelink.js/sources/types/browser.ts
  livelink.react/package.json
  livelink.react/sources/hooks/useEntity.ts
  livelink.react/sources/hooks/useThreeJsOverlay.ts
  livelink.samples/package.json
  livelink.samples/src/samples/live-skeletal-animation/LiveSkeletalAnimation.tsx
  livelink.samples/src/samples/smart-object-sync/SmartObjectSync.tsx
  livelink.samples/src/samples/smart-object/SmartObject.tsx
  livelink.samples/src/samples/third-person-controller/ThirdPersonController.tsx
  livelink.samples/src/samples/threejs/ThreeJS.tsx
  livelink.three/esbuild.js
  livelink.three/package.json
  livelink.three/sources/index.ts
  livelink.three/tsconfig.json
  package-lock.json
Due: js:livelink.three:publish, js:livelink.react:publish

fix: increased default size_multiple to 32x32
  livelink.js/sources/surfaces/RemoteRenderingSurface.ts
Due: none

refactor: avoid usage of some non-null assertion operator
  livelink.three/sources/index.ts
Due: js:livelink.three:publish

docs: add categories
  livelink.js/sources/AnimationSequenceController.ts
  livelink.js/sources/Camera.ts
  livelink.js/sources/Client.ts
  livelink.js/sources/Entity.ts
  livelink.js/sources/Livelink.ts
  livelink.js/sources/Session.ts
  livelink.js/sources/Viewport.ts
  livelink.js/sources/contexts/Context2D.ts
  livelink.js/sources/contexts/ContextProvider.ts
  livelink.js/sources/contexts/ContextWebGL.ts
  livelink.js/sources/decoders/CameraFrameTransform.ts
  livelink.js/sources/decoders/CurrentFrameMetaData.ts
  livelink.js/sources/decoders/DecodedFrameConsumer.ts
  livelink.js/sources/decoders/EncodedFrameConsumer.ts
  livelink.js/sources/decoders/RawFrameMetaData.ts
  livelink.js/sources/decoders/SoftwareDecoder.ts
  livelink.js/sources/decoders/WebCodecsDecoder.ts
  livelink.js/sources/inputs/Gamepad.ts
  livelink.js/sources/inputs/InputDevice.ts
  livelink.js/sources/inputs/Keyboard.ts
  livelink.js/sources/inputs/Mouse.ts
  livelink.js/sources/maths/index.ts
  livelink.js/sources/maths/quaternion.ts
  livelink.js/sources/surfaces/OffscreenSurface.ts
  livelink.js/sources/surfaces/OverlayInterface.ts
  livelink.js/sources/surfaces/Rect.ts
  livelink.js/sources/surfaces/RemoteRenderingSurface.ts
  livelink.js/sources/surfaces/RenderingSurface.ts
  livelink.js/sources/surfaces/RenderingSurfaceBase.ts
  livelink.js/sources/surfaces/VirtualSurface.ts
  livelink.js/typedoc.json
  package.json
Due: none

refactor(samples): keep event callback references in point & click sample
  livelink.samples/src/samples/point-and-click/PointAndClick.tsx
Due: none

feat: set-node-visibility
  livelink.js/ci/EntityBase.template.ts
  livelink.js/package.json
  livelink.js/sources/Entity.ts
  livelink.js/sources/Livelink.ts
  livelink.js/sources/Scene.ts
  livelink.samples/src/samples/highlight-entities/HighlightEntities.tsx
  package-lock.json
Due: none

v0.7.10
  livelink.js/package.json
  package-lock.json
Due: none

chore: CRLF to LF
  livelink.js/sources/Entity.ts
Due: none

fix: applying default values do not trigger entity update
  livelink.js/sources/Entity.ts
  livelink.js/sources/EntityRegistry.ts
Due: none

fix: ceil floating point values on the first client rect of the canvas because it might differ from clientWidth and clientHeight
  livelink.js/sources/surfaces/RenderingSurface.ts
Due: none

v0.7.11
  livelink.js/package.json
  package-lock.json
Due: none

feat: ensure all ancestors are resolved for any entity added to the registry
  livelink.js/sources/Scene.ts
Due: none

feat: camera can project coordinate from world space to screen space
  livelink.js/package.json
  livelink.js/sources/Camera.ts
  livelink.js/sources/Entity.ts
  livelink.js/sources/Livelink.ts
  livelink.js/sources/Viewport.ts
  livelink.js/sources/decoders/CameraFrameTransform.ts
  livelink.js/sources/decoders/CurrentFrameMetaData.ts
  livelink.js/sources/decoders/EncodedFrameConsumer.ts
  livelink.js/sources/decoders/FrameCameraTransform.ts
  livelink.js/sources/decoders/RawFrameMetaData.ts
  livelink.js/sources/index.ts
  livelink.js/sources/surfaces/RenderingSurface.ts
  livelink.react/sources/cameras/DefaultCamera.ts
  livelink.react/sources/web-xr/WebXRHelper.ts
  livelink.samples/src/samples/collaborators/Collaborators.tsx
  livelink.three/sources/index.ts
  package-lock.json
Due: js:livelink.three:publish, js:livelink.react:publish

fix: threejs camera transform
  livelink.three/sources/index.ts
Due: js:livelink.three:publish

feat: adapted live skeletal animation to new skeleton partial pose message format
  livelink.js/sources/Livelink.ts
  livelink.samples/src/samples/live-skeletal-animation/LiveSkeletalAnimation.tsx
Due: none

v0.7.12
  livelink.js/package.json
  package-lock.json
Due: none

fix: samples build
  livelink.samples/src/samples/live-skeletal-animation/LiveSkeletalAnimation.tsx
  package-lock.json
Due: none

fix: create a Camera instead of a regular Entity when editor adds an entity to the registry but it's not typed as Camera and has a camera component
  livelink.js/sources/Scene.ts
Due: none

feat: react overlay
  livelink.js/sources/Entity.ts
  livelink.js/sources/Viewport.ts
  livelink.js/sources/surfaces/OverlayInterface.ts
  livelink.js/sources/surfaces/RenderingSurface.ts
  livelink.react/esbuild.js
  livelink.react/package.json
  livelink.react/sources/components/DOM3DElement.tsx
  livelink.react/sources/components/DOM3DOverlay.tsx
  livelink.react/sources/components/DOMEntity.tsx
  livelink.react/sources/index.ts
  livelink.react/sources/overlays/react/React3DElement.tsx
  livelink.react/sources/overlays/react/ReactOverlay.tsx
  livelink.react/tsconfig.json
  livelink.samples/package.json
  livelink.samples/src/components/Canvas.tsx
  livelink.samples/src/samples/collaborators/Collaborators.tsx
  livelink.samples/src/samples/dom-overlay/DOMOverlaySample.tsx
  livelink.samples/src/samples/dom-overlay/overlay/DOMElement.ts
  livelink.samples/src/samples/dom-overlay/overlay/DOMOverlay.ts
  livelink.samples/src/samples/dom-overlay/overlay/DOMViewport.ts
  livelink.samples/src/samples/index.tsx
  package-lock.json
Due: js:livelink.react:publish

v0.7.13
  livelink.js/package.json
  package-lock.json
Due: none

feat: add smooth function on opacity for the fake alpha mode in immersive-ar
  livelink.react/sources/web-xr/XRContext.ts
Due: js:livelink.react:publish

feat: use @webxr-input-profiles/motion-controllers to for WebXRInputRelay to expose the state of the XR input source in a different way with their input source profile
  livelink.react/package.json
  livelink.react/sources/web-xr/WebXRHelper.ts
  livelink.react/sources/web-xr/WebXRInputRelay.ts
  package-lock.json
Due: js:livelink.react:publish

fix: bump livelink.react & livelink.three of their peer dependency livelink.js version
  livelink.react/package.json
  livelink.three/package.json
  package-lock.json
Due: js:livelink.three:publish, js:livelink.react:publish

v0.7.14
  livelink.js/package.json
  livelink.react/package.json
  livelink.three/package.json
  package-lock.json
Due: js:livelink.three:publish, js:livelink.react:publish

fix: livelink.samples routes, use HashRouter instead of BrowserRouter for the static site to store the route in the hash portion of the URL
  livelink.samples/src/main.tsx
Due: none

fix: bump livelink.js version in package-lock.json
  package-lock.json
Due: none

fix: put back export of INFINITE_FAR_VALUE of Camera
  livelink.js/sources/Camera.ts
Due: none

feat: publish samples page with 3 samples flagged as "prod"
  livelink.samples/.env
  livelink.samples/README.md
  livelink.samples/src/App.tsx
  livelink.samples/src/components/MainMenu.tsx
  livelink.samples/src/samples/collaborators/Collaborators.tsx
  livelink.samples/src/samples/index.tsx
  livelink.samples/src/samples/simple-canvas/SimpleCanvas.tsx
  livelink.samples/src/samples/third-person-controller/ThirdPersonController.tsx
Due: none

docs: add folder structure of livelink.samples README
  livelink.samples/README.md
Due: none

fix: React3DElement of ReactOverlay can receive pointer events
  livelink.react/sources/overlays/react/React3DElement.tsx
Due: js:livelink.react:publish

fix: camera matrices were computed before frame decoding
  livelink.js/sources/Livelink.ts
  livelink.js/sources/decoders/EncodedFrameConsumer.ts
Due: none

v0.7.15
  livelink.js/package.json
Due: none

feat: init livelink-react-ui
  livelink.react.ui/esbuild.js
  livelink.react.ui/package.json
  livelink.react.ui/sources/components/SunPositionPicker/index.tsx
  livelink.react.ui/sources/index.ts
  livelink.react.ui/tsconfig.json
  livelink.react.ui/tsconfig.tsbuildinfo
  package-lock.json
  package.json
Due: none

feat: allow to override style of DOM3DOverlay (most likely to change zIndex)
  livelink.react/sources/components/DOM3DOverlay.tsx
Due: js:livelink.react:publish

fix: upgrade to livelink.core@0.7.8 to fix disconnection reason
  livelink.js/package.json
  package-lock.json
Due: none

fix: livelink-react-ui version in package-lock
  package-lock.json
Due: none

v0.7.16
  livelink.js/package.json
  package-lock.json
Due: none

fix: allow to override style of DOM3DOverlay must be optional
  livelink.react/sources/components/DOM3DOverlay.tsx
Due: js:livelink.react:publish

fix: relaunch the gamepad raf loop when the window focus is back
  livelink.js/sources/inputs/Gamepad.ts
Due: none

style: sun rays on sun widget
  livelink.react.ui/sources/components/SunPositionPicker/index.tsx
Due: none

Path conditions:
  js:livelink.three:publish: any of: livelink.three/**/*, livelink.three/*
  js:livelink.react:publish: any of: livelink.react/**/*, livelink.react/*
