Repository 3dverse/livelink: changes, and which GitLab CI jobs are due for each by the changed paths.
All: js:livelink.three:publish, js:livelink.react:publish, js:livelink.react.ui:publish

js:livelink.three:publish:
  stage: deploy
  image: node:${NODE_VERSION}
  before_script:
  - - .npm-regcreds
    - before_script
  - npm config set @3dverse:registry="https://registry.npmjs.org" --userconfig=".npmrc"
  - npm config set //registry.npmjs.org/:_authToken="${NPMJS_ACCESS_TOKEN}" --userconfig=".npmrc"
  ...

js:livelink.react:publish:
  stage: deploy
  image: node:${NODE_VERSION}
  before_script:
  - - .npm-regcreds
    - before_script
  - npm config set @3dverse:registry="https://registry.npmjs.org" --userconfig=".npmrc"
  - npm config set //registry.npmjs.org/:_authToken="${NPMJS_ACCESS_TOKEN}" --userconfig=".npmrc"
  ...

js:livelink.react.ui:publish:
  stage: deploy
  image: node:${NODE_VERSION}
  before_script:
  - - .npm-regcreds
    - before_script
  - npm config set @3dverse:registry="https://registry.npmjs.org" --userconfig=".npmrc"
  - npm config set //registry.npmjs.org/:_authToken="${NPMJS_ACCESS_TOKEN}" --userconfig=".npmrc"
  ...

style(Samples): copy code button
  livelink.samples/src/components/MainMenu.tsx
  livelink.samples/src/components/SamplePlayer/CopyCodeButton.tsx
  livelink.samples/src/components/SamplePlayer/SamplePlayer.tsx
  livelink.samples/src/styles/index.css
  livelink.samples/src/styles/tailwind/base/animation-appear.css
  livelink.samples/src/styles/tailwind/base/button.css
Due: none

style(Samples): shadows
  livelink.samples/src/samples/react-core/1-viewports/5-canvas-in-canvas.tsx
  livelink.samples/src/styles/theme/3dverse-dark.css
Due: none

style(Samples): player layout
  livelink.samples/src/components/SamplePlayer/LoadingSpinner.tsx
  livelink.samples/src/components/SamplePlayer/SamplePlayer.tsx
Due: none

refactor: removed z index from canvas container and overlay
  livelink.react/sources/components/core/Canvas.tsx
  livelink.react/sources/components/overlays/DOM3DOverlay.tsx
Due: js:livelink.react:publish

refactor: used LoadingOverlay and remove LoadingSpinner
  livelink.samples/src/components/SamplePlayer/LoadingOverlay.tsx
  livelink.samples/src/components/SamplePlayer/LoadingSpinner.tsx
  livelink.samples/src/components/SamplePlayer/SamplePlayer.tsx
  livelink.samples/src/components/SamplePlayer/index.tsx
  livelink.samples/src/samples/advanced/x-culling-box-geometry.tsx
  livelink.samples/src/samples/advanced/x-live-skeletal-animation.tsx
  livelink.samples/src/samples/advanced/x-multiplanar-reconstruction.tsx
  livelink.samples/src/samples/advanced/x-web-xr-ios.tsx
  livelink.samples/src/samples/advanced/x-web-xr.tsx
  livelink.samples/src/samples/react-core/1-viewports/1-single-canvas-single-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/2-single-canvas-double-viewports.tsx
  livelink.samples/src/samples/react-core/1-viewports/3-double-canvas-single-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/4-double-canvas-double-viewports.tsx
  livelink.samples/src/samples/react-core/1-viewports/5-canvas-in-canvas.tsx
  livelink.samples/src/samples/react-core/1-viewports/6-viewport-in-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/7-viewport-render-target.tsx
  livelink.samples/src/samples/react-core/2-sessions/1-scene-selector.tsx
  livelink.samples/src/samples/react-core/2-sessions/2-multi-session.tsx
  livelink.samples/src/samples/react-core/2-sessions/3-join-session.tsx
  livelink.samples/src/samples/react-core/3-overlays/1-dom-3d-overlay.tsx
  livelink.samples/src/samples/react-core/3-overlays/2-threejs-overlay.tsx
  livelink.samples/src/samples/react-core/3-overlays/3-multi-overlay.tsx
  livelink.samples/src/samples/react-core/4-cameras/1-default-camera-controller.tsx
  livelink.samples/src/samples/react-core/4-cameras/2-custom-camera-controller.tsx
  livelink.samples/src/samples/react-core/4-cameras/3-third-person-controller.tsx
  livelink.samples/src/samples/react-core/4-cameras/4-camera-render-target.tsx
  livelink.samples/src/samples/react-core/5-clients/1-clients-list.tsx
  livelink.samples/src/samples/react-core/5-clients/2-clients-avatars.tsx
  livelink.samples/src/samples/react-core/6-entities/1-create-entity.tsx
  livelink.samples/src/samples/react-core/6-entities/2-entity-picking.tsx
  livelink.samples/src/samples/react-core/6-entities/x-smart-object.tsx
  livelink.samples/src/samples/react-ui/1-activity-watcher.tsx
  livelink.samples/src/samples/react-ui/2-sun-position-picker.tsx
  livelink.samples/src/samples/react-ui/3-render-graph-settings.tsx
  livelink.samples/src/samples/react-ui/4-view-cube.tsx
Due: none

fix: fixed export removal code regex
  livelink.samples/vite.config.ts
Due: none

feat: new opinionated default camera controller
  TODO.md
  livelink.js/eslint.config.mjs
  livelink.js/sources/index.ts
  livelink.js/sources/rendering/CameraController.ts
  livelink.js/sources/rendering/CameraControllerBase.ts
  livelink.react/sources/components/core/CameraController.tsx
  livelink.samples/src/samples/react-core/4-cameras/2-custom-camera-controller.tsx
Due: js:livelink.react:publish

fix: view cube sample perfected
  livelink.js/sources/rendering/CameraProjection.ts
  livelink.samples/src/samples/react-ui/4-view-cube.tsx
Due: none

refactor: moved LoadingOverlay to react.ui, broke most of the style, close your eyes
  livelink.react.ui/esbuild.js
  livelink.react.ui/sources/components/LoadingOverlay/index.tsx
  livelink.react.ui/sources/components/ViewCube/index.tsx
  livelink.react.ui/sources/index.ts
  livelink.samples/src/components/SamplePlayer/LoadingOverlay.tsx
  livelink.samples/src/components/SamplePlayer/index.tsx
  livelink.samples/src/samples/advanced/x-culling-box-geometry.tsx
  livelink.samples/src/samples/advanced/x-live-skeletal-animation.tsx
  livelink.samples/src/samples/advanced/x-multiplanar-reconstruction.tsx
  livelink.samples/src/samples/advanced/x-web-xr-ios.tsx
  livelink.samples/src/samples/advanced/x-web-xr.tsx
  livelink.samples/src/samples/react-core/1-viewports/1-single-canvas-single-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/2-single-canvas-double-viewports.tsx
  livelink.samples/src/samples/react-core/1-viewports/3-double-canvas-single-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/4-double-canvas-double-viewports.tsx
  livelink.samples/src/samples/react-core/1-viewports/5-canvas-in-canvas.tsx
  livelink.samples/src/samples/react-core/1-viewports/6-viewport-in-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/7-viewport-render-target.tsx
  livelink.samples/src/samples/react-core/2-sessions/1-scene-selector.tsx
  livelink.samples/src/samples/react-core/2-sessions/2-multi-session.tsx
  livelink.samples/src/samples/react-core/2-sessions/3-join-session.tsx
  livelink.samples/src/samples/react-core/3-overlays/1-dom-3d-overlay.tsx
  livelink.samples/src/samples/react-core/3-overlays/2-threejs-overlay.tsx
  livelink.samples/src/samples/react-core/3-overlays/3-multi-overlay.tsx
  livelink.samples/src/samples/react-core/4-cameras/1-default-camera-controller.tsx
  livelink.samples/src/samples/react-core/4-cameras/2-custom-camera-controller.tsx
  livelink.samples/src/samples/react-core/4-cameras/3-third-person-controller.tsx
  livelink.samples/src/samples/react-core/4-cameras/4-camera-render-target.tsx
  livelink.samples/src/samples/react-core/5-clients/1-clients-list.tsx
  livelink.samples/src/samples/react-core/5-clients/2-clients-avatars.tsx
  livelink.samples/src/samples/react-core/6-entities/1-create-entity.tsx
  livelink.samples/src/samples/react-core/6-entities/2-entity-picking.tsx
  livelink.samples/src/samples/react-core/6-entities/x-smart-object.tsx
  livelink.samples/src/samples/react-ui/1-activity-watcher.tsx
  livelink.samples/src/samples/react-ui/2-sun-position-picker.tsx
  livelink.samples/src/samples/react-ui/3-render-graph-settings.tsx
  livelink.samples/src/samples/react-ui/4-view-cube.tsx
  livelink.samples/src/styles/index.css
  livelink.samples/src/styles/tailwind/base/glow-effect.css
  livelink.samples/src/styles/tailwind/components/loader-progress-bar-indeterminate.css
Due: js:livelink.react.ui:publish

fix: do not emit client joined event, if a client has no viewport
  livelink.js/sources/session/Session.ts
Due: none

feat: added all implemented ways to find an entity (wip)
  livelink.react/sources/hooks/useEntity.ts
  livelink.samples/src/samples/advanced/x-live-skeletal-animation.tsx
  livelink.samples/src/samples/index.ts
  livelink.samples/src/samples/react-core/6-entities/3-finding-entities.tsx
  livelink.samples/src/samples/react-ui/2-sun-position-picker.tsx
Due: js:livelink.react:publish

chore: update livelink.core
  livelink.js/package.json
  package-lock.json
Due: none

refactor: prompt an error in case of invalid canvas & viewport size
  livelink.js/sources/rendering/surfaces/Rect.ts
  livelink.react/sources/components/core/Canvas.tsx
  livelink.react/sources/components/core/Viewport.tsx
Due: js:livelink.react:publish

refactor: replaced console.log by console.debug and remove them from production build
  livelink.js/esbuild.js
  livelink.js/external/YUVCanvas.js
  livelink.js/sources/rendering/contexts/ContextWebGL.ts
  livelink.js/sources/rendering/contexts/XRContext.ts
  livelink.js/sources/rendering/decoders/WebCodecsDecoder.ts
  livelink.js/sources/scene/ComponentHandler.ts
  livelink.js/sources/scene/EntityRegistry.ts
  livelink.react.ui/esbuild.js
  livelink.react/esbuild.js
  livelink.react/sources/components/core/Livelink.tsx
  livelink.react/sources/components/core/Viewport.tsx
  livelink.react/sources/web-xr/PassthroughXRContext.ts
  livelink.react/sources/web-xr/WebXRHelper.ts
  livelink.three/esbuild.js
Due: js:livelink.three:publish, js:livelink.react:publish, js:livelink.react.ui:publish

refactor(samples): uniformize canvas className usage
  livelink.samples/src/samples/react-core/1-viewports/2-single-canvas-double-viewports.tsx
  livelink.samples/src/samples/react-core/1-viewports/3-double-canvas-single-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/5-canvas-in-canvas.tsx
  livelink.samples/src/samples/react-core/1-viewports/6-viewport-in-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/7-viewport-render-target.tsx
Due: none

refactor(samples): removed //----- from hidden statements on displayed code
  livelink.samples/vite.config.ts
Due: none

refactor(samples): add a printWidth of 80 characters on samples
  .prettierrc
  livelink.samples/src/samples/advanced/x-culling-box-geometry.tsx
  livelink.samples/src/samples/advanced/x-live-skeletal-animation.tsx
  livelink.samples/src/samples/advanced/x-multiplanar-reconstruction.tsx
  livelink.samples/src/samples/advanced/x-web-xr-ios.tsx
  livelink.samples/src/samples/advanced/x-web-xr.tsx
  livelink.samples/src/samples/react-core/1-viewports/1-single-canvas-single-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/2-single-canvas-double-viewports.tsx
  livelink.samples/src/samples/react-core/1-viewports/3-double-canvas-single-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/4-double-canvas-double-viewports.tsx
  livelink.samples/src/samples/react-core/1-viewports/5-canvas-in-canvas.tsx
  livelink.samples/src/samples/react-core/1-viewports/6-viewport-in-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/7-viewport-render-target.tsx
  livelink.samples/src/samples/react-core/2-sessions/1-scene-selector.tsx
  livelink.samples/src/samples/react-core/2-sessions/2-multi-session.tsx
  livelink.samples/src/samples/react-core/2-sessions/3-join-session.tsx
  livelink.samples/src/samples/react-core/3-overlays/1-dom-3d-overlay.tsx
  livelink.samples/src/samples/react-core/3-overlays/2-threejs-overlay.tsx
  livelink.samples/src/samples/react-core/3-overlays/3-multi-overlay.tsx
  livelink.samples/src/samples/react-core/4-cameras/1-default-camera-controller.tsx
  livelink.samples/src/samples/react-core/4-cameras/2-custom-camera-controller.tsx
  livelink.samples/src/samples/react-core/4-cameras/3-third-person-controller.tsx
  livelink.samples/src/samples/react-core/4-cameras/4-camera-render-target.tsx
  livelink.samples/src/samples/react-core/5-clients/1-clients-list.tsx
  livelink.samples/src/samples/react-core/5-clients/2-clients-avatars.tsx
  livelink.samples/src/samples/react-core/6-entities/1-create-entity.tsx
  livelink.samples/src/samples/react-core/6-entities/2-entity-picking.tsx
  livelink.samples/src/samples/react-core/6-entities/3-finding-entities.tsx
  livelink.samples/src/samples/react-core/6-entities/x-smart-object.tsx
  livelink.samples/src/samples/react-ui/1-activity-watcher.tsx
  livelink.samples/src/samples/react-ui/2-sun-position-picker.tsx
  livelink.samples/src/samples/react-ui/3-render-graph-settings.tsx
  livelink.samples/src/samples/react-ui/4-view-cube.tsx
Due: none

refactor(samples): show code on every sample
  livelink.samples/src/components/SamplePlayer/SamplePlayer.tsx
  livelink.samples/src/samples/advanced/x-culling-box-geometry.tsx
  livelink.samples/src/samples/advanced/x-live-skeletal-animation.tsx
  livelink.samples/src/samples/advanced/x-multiplanar-reconstruction.tsx
  livelink.samples/src/samples/advanced/x-web-xr-ios.tsx
  livelink.samples/src/samples/advanced/x-web-xr.tsx
  livelink.samples/src/samples/react-core/2-sessions/1-scene-selector.tsx
  livelink.samples/src/samples/react-core/2-sessions/2-multi-session.tsx
  livelink.samples/src/samples/react-core/2-sessions/3-join-session.tsx
  livelink.samples/src/samples/react-core/3-overlays/1-dom-3d-overlay.tsx
  livelink.samples/src/samples/react-core/3-overlays/2-threejs-overlay.tsx
  livelink.samples/src/samples/react-core/3-overlays/3-multi-overlay.tsx
  livelink.samples/src/samples/react-core/4-cameras/1-default-camera-controller.tsx
  livelink.samples/src/samples/react-core/4-cameras/2-custom-camera-controller.tsx
  livelink.samples/src/samples/react-core/4-cameras/3-third-person-controller.tsx
  livelink.samples/src/samples/react-core/4-cameras/4-camera-render-target.tsx
  livelink.samples/src/samples/react-core/5-clients/1-clients-list.tsx
  livelink.samples/src/samples/react-core/5-clients/2-clients-avatars.tsx
  livelink.samples/src/samples/react-core/6-entities/1-create-entity.tsx
  livelink.samples/src/samples/react-core/6-entities/2-entity-picking.tsx
  livelink.samples/src/samples/react-core/6-entities/3-finding-entities.tsx
  livelink.samples/src/samples/react-core/6-entities/x-smart-object.tsx
  livelink.samples/src/samples/react-ui/1-activity-watcher.tsx
  livelink.samples/src/samples/react-ui/2-sun-position-picker.tsx
  livelink.samples/src/samples/react-ui/3-render-graph-settings.tsx
  livelink.samples/src/samples/react-ui/4-view-cube.tsx
Due: none

fix(samples): fix build
  livelink.samples/src/samples/react-core/5-clients/2-clients-avatars.tsx
Due: none

fix: for external usage, expose webXRHelper inside a WebXRContext, re-export WebXRInputRelay, re-make public WebXRHelper.cameras_origin
  livelink.react/sources/components/core/WebXR.tsx
  livelink.react/sources/index.ts
  livelink.react/sources/web-xr/WebXRHelper.ts
Due: js:livelink.react:publish

v0.8.1
  livelink.js/package.json
Due: none

refactor: add getCameraEntities to client, add client props to viewport
  livelink.js/sources/session/Client.ts
  livelink.react/sources/components/core/Viewport.tsx
  livelink.samples/src/samples/react-core/5-clients/2-clients-avatars.tsx
Due: js:livelink.react:publish

build: livelink-react depends of livelink.js 0.8.1
  livelink.react/package.json
  package-lock.json
Due: js:livelink.react:publish

feat(samples): show code live numbers
  livelink.samples/src/components/SamplePlayer/SamplePlayer.tsx
Due: none

refactor: changed Clients provider to hook
  livelink.react/sources/hooks/useClients.ts
  livelink.react/sources/index.ts
  livelink.samples/src/samples/react-core/5-clients/1-clients-list.tsx
  livelink.samples/src/samples/react-core/5-clients/2-clients-avatars.tsx
Due: js:livelink.react:publish

refactor: from_dom_elements now throw dedicated errors
  livelink.js/sources/rendering/surfaces/Rect.ts
  livelink.react/sources/components/core/Viewport.tsx
Due: js:livelink.react:publish

v0.8.2
  livelink.js/package.json
  livelink.samples/src/samples/react-core/1-viewports/2-single-canvas-double-viewports.tsx
Due: none

build: livelink-react depends of livelink.js 0.8.2
  livelink.react/package.json
  package-lock.json
Due: js:livelink.react:publish

fix(react): unmount react root on release of the react overlay
  livelink.react/sources/overlays/ReactOverlay.ts
Due: js:livelink.react:publish

feat(livelink): implement on-activity-detected event
  livelink.js/package.json
  livelink.js/sources/Livelink.ts
  livelink.js/sources/session/Session.ts
  livelink.js/sources/session/SessionEvents.ts
Due: none

v0.8.3
  livelink.js/package.json
  package-lock.json
Due: none

feat(react): implement on-activity-detected event
  livelink.react/package.json
  livelink.react/sources/components/core/Livelink.tsx
  livelink.react/sources/hooks/useClients.ts
Due: js:livelink.react:publish

ci: fix LIVELINK_JS_PACKAGE_URL missing a part
  .gitlab-ci.yml
Due: none

refactor: auto add mouse when activating picking on a viewport
  livelink.js/sources/Livelink.ts
  livelink.js/sources/inputs/Mouse.ts
  livelink.js/sources/rendering/Viewport.ts
  livelink.samples/src/samples/react-core/6-entities/2-entity-picking.tsx
Due: none

refactor: removed finder from useEntity
  TODO.md
  livelink.react/sources/hooks/useEntity.ts
  livelink.samples/src/samples/react-core/4-cameras/3-third-person-controller.tsx
Due: js:livelink.react:publish

fix: unused imports
  livelink.samples/src/samples/react-core/4-cameras/3-third-person-controller.tsx
  livelink.samples/src/samples/react-core/6-entities/2-entity-picking.tsx
Due: none

fix(samples): whoopsies
  livelink.samples/src/samples/react-core/1-viewports/2-single-canvas-double-viewports.tsx
Due: none

fix: add eslint to livelink-react
  livelink.js/ci/EntityBase.template.ts
  livelink.react/eslint.config.mjs
  livelink.react/package.json
  livelink.react/sources/components/core/Canvas.tsx
  livelink.react/sources/components/core/Livelink.tsx
  livelink.react/sources/components/core/Viewport.tsx
  livelink.react/sources/components/core/WebXR.tsx
  livelink.react/sources/components/overlays/DOM3DElement.tsx
  livelink.react/sources/components/overlays/DOM3DOverlay.tsx
  livelink.react/sources/components/overlays/DOMEntity.tsx
  livelink.react/sources/hooks/useClients.ts
  livelink.react/sources/hooks/useEntity.ts
  livelink.react/sources/index.ts
  livelink.react/sources/overlays/React3DElement.tsx
  livelink.react/sources/overlays/ReactOverlay.ts
  livelink.react/sources/web-xr/PassthroughXRContext.ts
  livelink.react/sources/web-xr/WebXRHelper.ts
  livelink.react/sources/web-xr/WebXRInputRelay.ts
  package-lock.json
Due: js:livelink.react:publish

feat(react): expose the camera controller created by the CameraController component through a ref
  livelink.react/sources/components/core/CameraController.tsx
  livelink.samples/src/samples/react-core/4-cameras/1-default-camera-controller.tsx
Due: js:livelink.react:publish

chore: update livelink.core
  livelink.js/package.json
Due: none

Path conditions:
  js:livelink.three:publish: any of: livelink.three/**/*, livelink.three/*
  js:livelink.react:publish: any of: livelink.react/**/*, livelink.react/*
  js:livelink.react.ui:publish: any of: livelink.react.ui/**/*, livelink.react.ui/*
