Repository 3dverse/livelink: changes, and which GitLab CI jobs are due for each by the changed paths.
All: js:livelink.three:publish, js:livelink.react:publish, js:livelink.react.ui:publish

js:livelink.three:publish:
  stage: deploy
  image: node:${NODE_VERSION}
  before_script:
  - - .npm-regcreds
    - before_script
  - npm config set @3dverse:registry="https://registry.npmjs.org" --userconfig=".npmrc"
  - npm config set //registry.npmjs.org/:_authToken="${NPMJS_ACCESS_TOKEN}" --userconfig=".npmrc"
  ...

js:livelink.react:publish:
  stage: deploy
  image: node:${NODE_VERSION}
  before_script:
  - - .npm-regcreds
    - before_script
  - npm config set @3dverse:registry="https://registry.npmjs.org" --userconfig=".npmrc"
  - npm config set //registry.npmjs.org/:_authToken="${NPMJS_ACCESS_TOKEN}" --userconfig=".npmrc"
  ...

js:livelink.react.ui:publish:
  stage: deploy
  image: node:${NODE_VERSION}
  before_script:
  - - .npm-regcreds
    - before_script
  - npm config set @3dverse:registry="https://registry.npmjs.org" --userconfig=".npmrc"
  - npm config set //registry.npmjs.org/:_authToken="${NPMJS_ACCESS_TOKEN}" --userconfig=".npmrc"
  ...

v0.8.9
  livelink.js/package.json
Due: none

fix(livelink.js): install missing prettier dependency
  livelink.js/package.json
  package-lock.json
Due: none

v0.8.10
  livelink.js/package.json
Due: none

build: livelink-react depends of livelink.js 0.8.10
  livelink.react/package.json
  package-lock.json
Due: js:livelink.react:publish

fix: handle rer-un of useEffects in react strict mode
  livelink.react/sources/components/core/Livelink.tsx
Due: js:livelink.react:publish

build(livelink.ks): put back dependencies, to make their types available while using livelink.js
  livelink.js/package.json
Due: none

v0.8.11
  livelink.js/package.json
Due: none

fix(react): initialize position in DOMEntity
  livelink.react/sources/components/overlays/DOMEntity.tsx
Due: js:livelink.react:publish

build: livelink-react depends of livelink.js 0.8.11
  livelink.react/package.json
  package-lock.json
Due: js:livelink.react:publish

refactor: introduce resize in encoded frame consumer
  livelink.js/sources/Livelink.ts
  livelink.js/sources/rendering/decoders/EncodedFrameConsumer.ts
  livelink.js/sources/rendering/decoders/SoftwareDecoder.ts
  livelink.js/sources/rendering/decoders/WebCodecsDecoder.ts
Due: none

feat: implement livelink.core resize
  livelink.js/package.json
  livelink.js/sources/Livelink.ts
  package-lock.json
Due: none

v0.8.12
  livelink.js/package.json
Due: none

refactor: used TypedEventTarget for resize event
  TODO.md
  livelink.js/example.md
  livelink.js/sources/Livelink.ts
  livelink.js/sources/index.ts
  livelink.js/sources/rendering/CameraProjection.ts
  livelink.js/sources/rendering/Viewport.ts
  livelink.js/sources/rendering/ViewportEvents.ts
  livelink.js/sources/rendering/contexts/XRContext.ts
  livelink.js/sources/rendering/decoders/RemoteFrameProxy.ts
  livelink.js/sources/rendering/surfaces/CanvasAutoResizer.ts
  livelink.js/sources/rendering/surfaces/OffscreenSurface.ts
  livelink.js/sources/rendering/surfaces/RenderingSurface.ts
  livelink.js/sources/rendering/surfaces/RenderingSurfaceBase.ts
  livelink.js/sources/rendering/surfaces/RenderingSurfaceEvents.ts
  livelink.js/sources/scene/Entity.ts
  livelink.js/sources/scene/EntityRegistry.ts
  livelink.js/sources/scene/Scene.ts
  livelink.js/sources/session/SessionEvents.ts
  livelink.react/sources/components/core/Viewport.tsx
  package-lock.json
Due: js:livelink.react:publish

refactor: renamed _getEntity to _findEntity to better reflect the nature of the operation
  livelink.js/sources/Livelink.ts
  livelink.js/sources/rendering/Viewport.ts
  livelink.js/sources/scene/EntityRegistry.ts
  livelink.js/sources/scene/Scene.ts
  livelink.js/sources/session/Client.ts
Due: none

build(react): expose react library dist through the export object
  livelink.react/package.json
Due: js:livelink.react:publish

build(livelink.js): expose react library dist through the export object
  livelink.js/package.json
Due: none

build: add @types/webxr as a dependency
  livelink.js/package.json
  package-lock.json
Due: none

chore(livelink.js): add more TODOs
  TODO.md
Due: none

v0.8.13
  livelink.js/package.json
Due: none

build: livelink-react depends of livelink.js 0.8.13
  livelink.react/package.json
  package-lock.json
Due: js:livelink.react:publish

build: fix build
  livelink.js/package.json
  livelink.react/package.json
  package-lock.json
Due: js:livelink.react:publish

build(react): bundle @webxr-input-profiles/motion-controllers
  livelink.react/esbuild.js
  livelink.react/package.json
  livelink.react/sources/web-xr/WebXRInputRelay.ts
  package-lock.json
Due: js:livelink.react:publish

refactor: removed all samples
  livelink.samples/src/samples/__to_sort__/controller-effects/ControllerEffects.tsx
  livelink.samples/src/samples/__to_sort__/conveyor-belt-sorting/ConveyorBeltSorting.tsx
  livelink.samples/src/samples/__to_sort__/conveyor-belt/ConveyorBelt.tsx
  livelink.samples/src/samples/__to_sort__/dom-overlay/DOMOverlaySample.tsx
  livelink.samples/src/samples/__to_sort__/dom-overlay/overlay/DOMElement.ts
  livelink.samples/src/samples/__to_sort__/dom-overlay/overlay/DOMOverlay.ts
  livelink.samples/src/samples/__to_sort__/dom-overlay/overlay/DOMViewport.ts
  livelink.samples/src/samples/__to_sort__/highlight-entities/HighlightEntities.tsx
  livelink.samples/src/samples/__to_sort__/labeling-station/LabelingStation.tsx
  livelink.samples/src/samples/__to_sort__/mpr/MPR.tsx
  livelink.samples/src/samples/__to_sort__/point-and-click/PointAndClick.tsx
  livelink.samples/src/samples/__to_sort__/smart-object-sync/SmartObjectSync.tsx
  livelink.samples/src/samples/__to_sort__/smart-object/SmartObject.tsx
  livelink.samples/src/samples/__to_sort__/trigger/Trigger.tsx
  livelink.samples/src/samples/__to_sort__/video-capture/VideoCapture.tsx
Due: none

refactor: removed script related events
  livelink.js/sources/Livelink.ts
  livelink.js/sources/scene/Entity.ts
  livelink.js/sources/scene/Scene.ts
Due: none

refactor: entity events, update event has more info about what changed (added/updated/removed) components
  TODO.md
  livelink.js/ci/EntityBase.template.ts
  livelink.js/sources/index.ts
  livelink.js/sources/rendering/CameraProjection.ts
  livelink.js/sources/rendering/decoders/EncodedFrameConsumer.ts
  livelink.js/sources/scene/Entity.ts
  livelink.js/sources/scene/EntityEvents.ts
  livelink.react/sources/components/overlays/DOMEntity.tsx
  livelink.react/sources/hooks/useCameraEntity.ts
  livelink.react/sources/hooks/useEntity.ts
  livelink.samples/src/samples/advanced/x-culling-box-geometry.tsx
  livelink.samples/src/samples/react-core/6-entities/3-finding-entities.tsx
  livelink.samples/src/samples/react-core/6-entities/x-smart-object.tsx
Due: js:livelink.react:publish

fix: build
  livelink.js/sources/scene/Entity.ts
  livelink.react.ui/sources/components/ViewCube/index.tsx
Due: js:livelink.react.ui:publish

fix(RenderGraphSettings): issue with svh height
  livelink.react.ui/sources/components/RenderGraphSettings/index.tsx
Due: js:livelink.react.ui:publish

style(RenderGraphSettings): update panel style
  livelink.react.ui/sources/chakra/components/Text.ts
  livelink.react.ui/sources/chakra/theme.tsx
  livelink.react.ui/sources/components/RenderGraphSettings/index.tsx
  livelink.samples/src/samples/react-ui/3-render-graph-settings.tsx
Due: js:livelink.react.ui:publish

fix: redraw frame when an overlay is mounted/unmounted
  livelink.js/sources/rendering/Viewport.ts
  livelink.js/sources/rendering/surfaces/OffscreenSurface.ts
  livelink.js/sources/rendering/surfaces/RenderingSurface.ts
  livelink.js/sources/rendering/surfaces/RenderingSurfaceBase.ts
  livelink.js/sources/rendering/surfaces/VirtualSurface.ts
  livelink.react/sources/components/overlays/DOM3DElement.tsx
  livelink.react/sources/overlays/React3DElement.tsx
  livelink.react/sources/overlays/ReactOverlay.ts
  livelink.samples/src/samples/advanced/x-culling-box-geometry.tsx
Due: js:livelink.react:publish

fix(react): fix react root unmount error
  livelink.react/sources/overlays/ReactOverlay.ts
Due: js:livelink.react:publish

fix(livelink.js): dispose of last_draw_data while releasing a rendering surface
  livelink.js/sources/rendering/surfaces/RenderingSurface.ts
  livelink.js/sources/rendering/surfaces/RenderingSurfaceBase.ts
Due: none

style: unify samples
  livelink.samples/src/components/SamplePlayer/ActionBar.tsx
  livelink.samples/src/samples/react-core/4-cameras/1-default-camera-controller.tsx
  livelink.samples/src/samples/react-core/6-entities/1-create-entity.tsx
  livelink.samples/src/samples/react-core/6-entities/3-finding-entities.tsx
  livelink.samples/src/samples/react-core/6-entities/x-smart-object.tsx
  livelink.samples/src/samples/react-ui/1-activity-watcher.tsx
  livelink.samples/src/samples/react-ui/2-sun-position-picker.tsx
  livelink.samples/src/styles/tailwind/base/button.css
  livelink.samples/src/styles/tailwind/base/core.css
  livelink.samples/src/styles/theme/3dverse-dark.css
  livelink.samples/tailwind.config.js
  package-lock.json
Due: none

style: update react-ui components
  livelink.react.ui/sources/components/InactivityWarning/InactivityWarningBadge.tsx
  livelink.react.ui/sources/components/ViewCube/index.tsx
Due: js:livelink.react.ui:publish

refactor: use @3dverse/design-tokens in react-ui
  livelink.react.ui/package.json
  livelink.react.ui/sources/chakra/components/Checkbox.ts
  livelink.react.ui/sources/chakra/theme.tsx
  livelink.react.ui/sources/components-common/ViewerPanel.tsx
  livelink.react.ui/sources/components-common/glowEffectStyle.ts
  livelink.react.ui/sources/components/InactivityWarning/InactivityWarningBadge.tsx
  livelink.react.ui/sources/components/LoadingOverlay/index.tsx
Due: js:livelink.react.ui:publish

build(react.ui): bundle dependencies
  livelink.react.ui/esbuild.js
Due: js:livelink.react.ui:publish

fix(livelink): ancestor resolving
  livelink.js/sources/scene/Scene.ts
Due: none

fix: OutOfBoundsError test was invalid
  livelink.js/sources/rendering/surfaces/Rect.ts
Due: none

style(samples): minor style changes
  livelink.samples/src/samples/advanced/x-culling-box-geometry.tsx
Due: none

v0.8.14
  livelink.js/package.json
Due: none

Path conditions:
  js:livelink.three:publish: any of: livelink.three/**/*, livelink.three/*
  js:livelink.react:publish: any of: livelink.react/**/*, livelink.react/*
  js:livelink.react.ui:publish: any of: livelink.react.ui/**/*, livelink.react.ui/*
