Repository 3dverse/livelink: changes, and which GitLab CI jobs are due for each by the changed paths.
All: js:livelink.three:publish, js:livelink.react:publish, js:livelink.react.ui:publish

Path conditions:
  js:livelink.three:publish: any of: livelink.three/**/*, livelink.three/*
  js:livelink.react:publish: any of: livelink.react/**/*, livelink.react/*
  js:livelink.react.ui:publish: any of: livelink.react.ui/**/*, livelink.react.ui/*

refactor: ready callback
  livelink.js/sources/Livelink.ts
  livelink.js/sources/Viewport.ts
  livelink.react/sources/components/core/Livelink.tsx
  livelink.react/sources/components/core/Viewport.tsx
Due: js:livelink.react:publish

refactor: workaround camera creation dead lock
  livelink.js/sources/Livelink.ts
  livelink.react/sources/components/core/Livelink.tsx
  livelink.react/sources/components/core/Viewport.tsx
Due: js:livelink.react:publish

feat: viewport z_index
  livelink.js/sources/Viewport.ts
  livelink.js/sources/surfaces/RemoteRenderingSurface.ts
  livelink.js/sources/surfaces/RenderingSurfaceBase.ts
  livelink.react/sources/components/core/Viewport.tsx
Due: js:livelink.react:publish

refactor: disconnect hook
  livelink.react/sources/components/core/Livelink.tsx
Due: js:livelink.react:publish

refactor: minor changes
  livelink.react/sources/components/core/Livelink.tsx
  livelink.samples/src/samples/react-core/viewports/5-canvas-in-canvas.tsx
  livelink.samples/src/samples/react-core/viewports/6-viewport-in-viewport.tsx
Due: js:livelink.react:publish

refactor: session tests
  livelink.react/sources/components/core/Livelink.tsx
  livelink.samples/src/components/Player.tsx
  livelink.samples/src/samples/__to_sort__/dom-overlay/DOMOverlaySample.tsx
  livelink.samples/src/samples/__to_sort__/dom-overlay/overlay/DOMElement.ts
  livelink.samples/src/samples/__to_sort__/dom-overlay/overlay/DOMOverlay.ts
  livelink.samples/src/samples/__to_sort__/dom-overlay/overlay/DOMViewport.ts
  livelink.samples/src/samples/react-core/index.tsx
  livelink.samples/src/samples/react-core/sessions/1-scene-selector.tsx
  livelink.samples/src/samples/react-core/sessions/2-multi-session.tsx
  livelink.samples/src/samples/react-core/sessions/3-linked-multi-session.tsx
  livelink.samples/src/samples/react-core/sessions/multi-session/MultiSession.tsx
  livelink.samples/src/samples/react-core/sessions/scene-selector/SceneSelector.tsx
  livelink.samples/src/samples/react-core/viewports/1-single-canvas-single-viewport.tsx
  livelink.samples/src/samples/react-core/viewports/2-single-canvas-double-viewports.tsx
  livelink.samples/src/samples/react-core/viewports/3-double-canvas-single-viewport.tsx
  livelink.samples/src/samples/react-core/viewports/4-double-canvas-double-viewports.tsx
  livelink.samples/src/samples/react-core/viewports/5-canvas-in-canvas.tsx
  livelink.samples/src/samples/react-ui/activity-watcher/ActivityWatcher.tsx
  livelink.samples/src/styles/components/DisconnectedModal.tsx
Due: js:livelink.react:publish

feat: overlay samples
  livelink.react/sources/components/overlays/DOM3DElement.tsx
  livelink.samples/src/components/Canvas.tsx
  livelink.samples/src/components/SamplePlayer/Canvas.ts
  livelink.samples/src/components/SamplePlayer/CanvasActionBar.tsx
  livelink.samples/src/components/SamplePlayer/DisconnectedModal.tsx
  livelink.samples/src/components/SamplePlayer/LoadingSpinner.tsx
  livelink.samples/src/components/SamplePlayer/Player.tsx
  livelink.samples/src/components/SamplePlayer/index.tsx
  livelink.samples/src/samples/__to_sort__/conveyor-belt-sorting/ConveyorBeltSorting.tsx
  livelink.samples/src/samples/__to_sort__/conveyor-belt/ConveyorBelt.tsx
  livelink.samples/src/samples/__to_sort__/dom-overlay/DOMOverlaySample.tsx
  livelink.samples/src/samples/__to_sort__/highlight-entities/HighlightEntities.tsx
  livelink.samples/src/samples/__to_sort__/labeling-station/LabelingStation.tsx
  livelink.samples/src/samples/__to_sort__/live-skeletal-animation/LiveSkeletalAnimation.tsx
  livelink.samples/src/samples/__to_sort__/mpr/MPR.tsx
  livelink.samples/src/samples/__to_sort__/point-and-click/PointAndClick.tsx
  livelink.samples/src/samples/__to_sort__/render-target-debug/RenderTargetDebug.tsx
  livelink.samples/src/samples/__to_sort__/smart-object-sync/SmartObjectSync.tsx
  livelink.samples/src/samples/__to_sort__/smart-object/SmartObject.tsx
  livelink.samples/src/samples/__to_sort__/trigger/Trigger.tsx
  livelink.samples/src/samples/__to_sort__/video-capture/VideoCapture.tsx
  livelink.samples/src/samples/__to_sort__/web-xr/WebXR.tsx
  livelink.samples/src/samples/react-core/cameras/controller-effects/ControllerEffects.tsx
  livelink.samples/src/samples/react-core/cameras/third-person-controller/ThirdPersonController.tsx
  livelink.samples/src/samples/react-core/index.tsx
  livelink.samples/src/samples/react-core/overlays/1-dom-3d-overlay.tsx
  livelink.samples/src/samples/react-core/overlays/2-threejs-overlay.tsx
  livelink.samples/src/samples/react-core/overlays/3-multi-overlay.tsx
  livelink.samples/src/samples/react-core/overlays/threejs/ThreeJS.tsx
  livelink.samples/src/samples/react-core/sessions/1-scene-selector.tsx
  livelink.samples/src/samples/react-core/sessions/2-multi-session.tsx
  livelink.samples/src/samples/react-core/sessions/3-linked-multi-session.tsx
  livelink.samples/src/samples/react-core/sessions/collaborators/Collaborators.tsx
  livelink.samples/src/samples/react-core/viewports/1-single-canvas-single-viewport.tsx
  livelink.samples/src/samples/react-core/viewports/3-double-canvas-single-viewport.tsx
  livelink.samples/src/samples/react-core/viewports/4-double-canvas-double-viewports.tsx
  livelink.samples/src/samples/react-core/viewports/5-canvas-in-canvas.tsx
  livelink.samples/src/samples/react-core/viewports/6-viewport-in-viewport.tsx
  livelink.samples/src/samples/react-ui/activity-watcher/ActivityWatcher.tsx
  livelink.samples/src/samples/react-ui/sun-widget/SunWidget.tsx
Due: js:livelink.react:publish

feat: new play button and react markdown
  livelink.samples/package.json
  livelink.samples/src/components/SamplePlayer/Canvas.ts
  livelink.samples/src/components/SamplePlayer/LoadingSpinner.tsx
  livelink.samples/src/components/SamplePlayer/Player.tsx
  livelink.samples/src/samples/react-core/cameras/third-person-controller/ThirdPersonController.tsx
  livelink.samples/src/samples/react-core/viewports/1-single-canvas-single-viewport.md
  livelink.samples/src/samples/react-core/viewports/1-single-canvas-single-viewport.tsx
  livelink.samples/src/styles/index.css
  livelink.samples/src/vite-env.d.ts
  livelink.samples/vite.config.ts
Due: none

refactor: useMemo for threejs scenes
  livelink.samples/src/samples/react-core/overlays/2-threejs-overlay.tsx
  livelink.samples/src/samples/react-core/overlays/3-multi-overlay.tsx
Due: none

feat: desc
  livelink.samples/src/components/SamplePlayer/Player.tsx
  livelink.samples/src/samples/react-core/1-viewports/1-single-canvas-single-viewport.md
  livelink.samples/src/samples/react-core/1-viewports/1-single-canvas-single-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/2-single-canvas-double-viewports.tsx
  livelink.samples/src/samples/react-core/1-viewports/3-double-canvas-single-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/4-double-canvas-double-viewports.tsx
  livelink.samples/src/samples/react-core/1-viewports/5-canvas-in-canvas.tsx
  livelink.samples/src/samples/react-core/1-viewports/6-viewport-in-viewport.tsx
  livelink.samples/src/samples/react-core/2.overlays/1-dom-3d-overlay.tsx
  livelink.samples/src/samples/react-core/2.overlays/2-threejs-overlay.tsx
  livelink.samples/src/samples/react-core/2.overlays/3-multi-overlay.tsx
  livelink.samples/src/samples/react-core/3.sessions/1-scene-selector.tsx
  livelink.samples/src/samples/react-core/3.sessions/2-multi-session.tsx
  livelink.samples/src/samples/react-core/3.sessions/3-linked-multi-session.tsx
  livelink.samples/src/samples/react-core/3.sessions/4-clients.tsx
  livelink.samples/src/samples/react-core/3.sessions/5-collaborators-avatars.tsx
  livelink.samples/src/samples/react-core/index.tsx
Due: none

feat: clients context + samples
  livelink.js/sources/Session.ts
  livelink.react/sources/components/core/Clients.tsx
  livelink.react/sources/index.ts
  livelink.samples/src/components/SamplePlayer/Player.tsx
  livelink.samples/src/samples/react-core/index.tsx
  livelink.samples/src/samples/react-core/sessions/4-clients.tsx
  livelink.samples/src/samples/react-core/sessions/5-collaborators-avatars.tsx
  livelink.samples/src/samples/react-core/sessions/collaborators/Collaborators.tsx
Due: js:livelink.react:publish

refactor: wip wip
  livelink.react/sources/components/core/Camera.tsx
  livelink.react/sources/components/core/Canvas.tsx
  livelink.react/sources/components/core/Viewport.tsx
Due: js:livelink.react:publish

chore: package lock
  livelink.samples/src/samples/react-core/1-viewports/3-double-canvas-single-viewport.tsx
Due: none

fix: tpc sample + bind mouse to viewport div
  livelink.js/sources/Livelink.ts
  livelink.js/sources/inputs/Mouse.ts
  livelink.react/sources/components/core/Camera.tsx
  livelink.samples/src/samples/react-core/3-sessions/5-collaborators-avatars.tsx
  livelink.samples/src/samples/react-core/cameras/third-person-controller/ThirdPersonController.tsx
  livelink.samples/src/samples/react-core/index.tsx
Due: js:livelink.react:publish

fix: more samples
  livelink.react/sources/components/overlays/DOM3DOverlay.tsx
  livelink.samples/src/samples/react-core/2-overlays/1-dom-3d-overlay.tsx
  livelink.samples/src/samples/react-core/2-overlays/2-threejs-overlay.tsx
  livelink.samples/src/samples/react-core/2-overlays/3-multi-overlay.tsx
  livelink.samples/src/samples/react-core/3-sessions/4-clients.tsx
  livelink.samples/src/samples/react-core/3-sessions/5-collaborators-avatars.tsx
  livelink.samples/src/samples/react-core/index.tsx
Due: js:livelink.react:publish

feat: yolo
  livelink.js/sources/surfaces/Rect.ts
  livelink.react/sources/cameras/DefaultCamera.ts
  livelink.react/sources/components/core/Canvas.tsx
  livelink.react/sources/components/core/Viewport.tsx
  livelink.samples/src/components/LegacyCanvas.tsx
  livelink.samples/src/samples/__to_sort__/conveyor-belt-sorting/ConveyorBeltSorting.tsx
  livelink.samples/src/samples/__to_sort__/conveyor-belt/ConveyorBelt.tsx
  livelink.samples/src/samples/__to_sort__/dom-overlay/DOMOverlaySample.tsx
  livelink.samples/src/samples/__to_sort__/highlight-entities/HighlightEntities.tsx
  livelink.samples/src/samples/__to_sort__/labeling-station/LabelingStation.tsx
  livelink.samples/src/samples/__to_sort__/live-skeletal-animation/LiveSkeletalAnimation.tsx
  livelink.samples/src/samples/__to_sort__/mpr/MPR.tsx
  livelink.samples/src/samples/__to_sort__/point-and-click/PointAndClick.tsx
  livelink.samples/src/samples/__to_sort__/render-target-debug/RenderTargetDebug.tsx
  livelink.samples/src/samples/__to_sort__/smart-object-sync/SmartObjectSync.tsx
  livelink.samples/src/samples/__to_sort__/smart-object/SmartObject.tsx
  livelink.samples/src/samples/__to_sort__/trigger/Trigger.tsx
  livelink.samples/src/samples/__to_sort__/video-capture/VideoCapture.tsx
  livelink.samples/src/samples/react-core/1-viewports/1-single-canvas-single-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/2-single-canvas-double-viewports.tsx
  livelink.samples/src/samples/react-core/1-viewports/3-double-canvas-single-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/4-double-canvas-double-viewports.tsx
  livelink.samples/src/samples/react-core/1-viewports/5-canvas-in-canvas.tsx
  livelink.samples/src/samples/react-core/1-viewports/6-viewport-in-viewport.tsx
  livelink.samples/src/samples/react-core/2-overlays/1-dom-3d-overlay.tsx
  livelink.samples/src/samples/react-core/cameras/controller-effects/ControllerEffects.tsx
  livelink.samples/src/samples/react-ui/activity-watcher/ActivityWatcher.tsx
  livelink.samples/src/samples/react-ui/sun-widget/SunWidget.tsx
Due: js:livelink.react:publish

feat: viewport resize
  livelink.js/sources/Viewport.ts
  livelink.react/sources/components/core/Viewport.tsx
Due: js:livelink.react:publish

feat: viewport rect proxy
  livelink.js/sources/Livelink.ts
  livelink.js/sources/Viewport.ts
  livelink.react/sources/components/core/Viewport.tsx
Due: js:livelink.react:publish

fix: use toPrecision to round relative rect
  livelink.react/sources/components/core/Viewport.tsx
Due: js:livelink.react:publish

refactor: reordered samples
  livelink.samples/src/components/SamplePlayer/DisconnectedModal.tsx
  livelink.samples/src/components/SamplePlayer/SamplePlayer.tsx
  livelink.samples/src/components/SamplePlayer/index.tsx
  livelink.samples/src/main.tsx
  livelink.samples/src/samples/react-core/2-sessions/1-scene-selector.tsx
  livelink.samples/src/samples/react-core/2-sessions/2-multi-session.tsx
  livelink.samples/src/samples/react-core/2-sessions/3-linked-multi-session.tsx
  livelink.samples/src/samples/react-core/3-overlays/1-dom-3d-overlay.tsx
  livelink.samples/src/samples/react-core/3-overlays/2-threejs-overlay.tsx
  livelink.samples/src/samples/react-core/3-overlays/3-multi-overlay.tsx
  livelink.samples/src/samples/react-core/4-clients/1-clients-list.tsx
  livelink.samples/src/samples/react-core/4-clients/2-clients-avatars.tsx
  livelink.samples/src/samples/react-core/5-cameras/controller-effects/ControllerEffects.tsx
  livelink.samples/src/samples/react-core/5-cameras/x-third-person-controller.tsx
  livelink.samples/src/samples/react-core/index.tsx
Due: none

feat: fix,chore,test,ci,build,style,perf,etdesbizous
  livelink.js/sources/Session.ts
  livelink.react/sources/components/core/Camera.tsx
  livelink.react/sources/components/core/Canvas.tsx
  livelink.react/sources/components/core/Clients.tsx
  livelink.react/sources/components/core/Livelink.tsx
  livelink.react/sources/components/core/Viewport.tsx
  livelink.react/sources/components/overlays/DOM3DElement.tsx
  livelink.react/sources/components/overlays/DOM3DOverlay.tsx
  livelink.react/sources/components/overlays/DOMEntity.tsx
  livelink.react/sources/hooks/useLivelinkInstance.ts
  livelink.react/sources/index.ts
  livelink.react/sources/overlays/React3DElement.tsx
  livelink.react/sources/overlays/ReactOverlay.ts
  livelink.samples/src/samples/react-core/1-viewports/1-single-canvas-single-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/2-single-canvas-double-viewports.tsx
  livelink.samples/src/samples/react-core/1-viewports/3-double-canvas-single-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/4-double-canvas-double-viewports.tsx
  livelink.samples/src/samples/react-core/1-viewports/5-canvas-in-canvas.tsx
  livelink.samples/src/samples/react-core/1-viewports/6-viewport-in-viewport.tsx
  livelink.samples/src/samples/react-core/2-overlays/1-dom-3d-overlay.tsx
  livelink.samples/src/samples/react-core/2-overlays/2-threejs-overlay.tsx
  livelink.samples/src/samples/react-core/2-overlays/3-multi-overlay.tsx
  livelink.samples/src/samples/react-core/3-sessions/1-scene-selector.tsx
  livelink.samples/src/samples/react-core/3-sessions/2-multi-session.tsx
  livelink.samples/src/samples/react-core/3-sessions/3-linked-multi-session.tsx
  livelink.samples/src/samples/react-core/3-sessions/4-clients.tsx
  livelink.samples/src/samples/react-core/3-sessions/5-collaborators-avatars.tsx
  livelink.samples/src/samples/react-core/4-cameras/controller-effects/ControllerEffects.tsx
  livelink.samples/src/samples/react-core/4-cameras/x-third-person-controller.tsx
  livelink.samples/src/samples/react-core/index.tsx
Due: js:livelink.react:publish

fix: do not cull dom elements
  livelink.react/sources/components/overlays/DOM3DElement.tsx
  livelink.react/sources/components/overlays/DOMEntity.tsx
  livelink.react/sources/overlays/React3DElement.tsx
  livelink.react/sources/overlays/ReactOverlay.ts
  livelink.samples/src/samples/__to_sort__/dom-overlay/DOMOverlaySample.tsx
  livelink.samples/src/samples/__to_sort__/dom-overlay/overlay/DOMElement.ts
  livelink.samples/src/samples/__to_sort__/dom-overlay/overlay/DOMOverlay.ts
  livelink.samples/src/samples/__to_sort__/dom-overlay/overlay/DOMViewport.ts
  livelink.samples/src/samples/react-core/3-overlays/1-dom-3d-overlay.tsx
  livelink.samples/src/samples/react-core/3-overlays/3-multi-overlay.tsx
Due: js:livelink.react:publish

fix: ThirdPersonController sample path
  livelink.samples/src/samples/react-core/index.tsx
Due: none

feat: camera samples
  livelink.samples/src/samples/__to_sort__/controller-effects/ControllerEffects.tsx
  livelink.samples/src/samples/react-core/4-cameras/1-default-camera-controller.tsx
  livelink.samples/src/samples/react-core/4-cameras/2-custom-camera-controller.tsx
  livelink.samples/src/samples/react-core/4-cameras/3-third-person-controller.tsx
  livelink.samples/src/samples/react-core/5-clients/1-clients-list.tsx
  livelink.samples/src/samples/react-core/5-clients/2-clients-avatars.tsx
  livelink.samples/src/samples/react-core/index.tsx
Due: none

refactor: LoadingPanel and ConnectionErrorPanel are now React.Component types and need to take specific params
  livelink.react.ui/sources/components/InactivityWarning/index.tsx
  livelink.react/sources/components/core/Livelink.tsx
  livelink.samples/src/components/MainMenu.tsx
  livelink.samples/src/components/SamplePlayer/DisconnectedModal.tsx
  livelink.samples/src/components/SamplePlayer/LoadingSpinner.tsx
  livelink.samples/src/main.tsx
  livelink.samples/src/samples/__to_sort__/controller-effects/ControllerEffects.tsx
  livelink.samples/src/samples/__to_sort__/render-graph-settings/RenderGraphSettings.tsx
  livelink.samples/src/samples/__to_sort__/render-graph-settings/defaultCameraSettings.tsx
  livelink.samples/src/samples/__to_sort__/sun-position-picker/SunPositionPicker.tsx
  livelink.samples/src/samples/index.ts
  livelink.samples/src/samples/react-core/1-viewports/1-single-canvas-single-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/2-single-canvas-double-viewports.tsx
  livelink.samples/src/samples/react-core/1-viewports/3-double-canvas-single-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/4-double-canvas-double-viewports.tsx
  livelink.samples/src/samples/react-core/1-viewports/5-canvas-in-canvas.tsx
  livelink.samples/src/samples/react-core/1-viewports/6-viewport-in-viewport.tsx
  livelink.samples/src/samples/react-core/2-sessions/1-scene-selector.tsx
  livelink.samples/src/samples/react-core/2-sessions/2-multi-session.tsx
  livelink.samples/src/samples/react-core/2-sessions/3-linked-multi-session.tsx
  livelink.samples/src/samples/react-core/3-overlays/1-dom-3d-overlay.tsx
  livelink.samples/src/samples/react-core/3-overlays/2-threejs-overlay.tsx
  livelink.samples/src/samples/react-core/3-overlays/3-multi-overlay.tsx
  livelink.samples/src/samples/react-core/4-cameras/1-default-camera-controller.tsx
  livelink.samples/src/samples/react-core/4-cameras/2-custom-camera-controller.tsx
  livelink.samples/src/samples/react-core/4-cameras/3-third-person-controller.tsx
  livelink.samples/src/samples/react-core/5-clients/1-clients-list.tsx
  livelink.samples/src/samples/react-core/5-clients/2-clients-avatars.tsx
  livelink.samples/src/samples/react-ui/activity-watcher/ActivityWatcher.tsx
  livelink.samples/src/samples/react-ui/sun-widget/SunWidget.tsx
Due: js:livelink.react:publish, js:livelink.react.ui:publish

feat: reac-ui samples, sun picker and inactivity modal
  livelink.react.ui/sources/components/SunPositionPicker/index.tsx
  livelink.react/sources/hooks/useEntity.ts
  livelink.samples/src/samples/react-ui/activity-watcher.tsx
  livelink.samples/src/samples/react-ui/sun-position-picker.tsx
Due: js:livelink.react:publish, js:livelink.react.ui:publish

feat: fetch clients data from api
  livelink.js/sources/Client.ts
  livelink.js/sources/Session.ts
  livelink.samples/src/samples/__to_sort__/sun-position-picker/SunPositionPicker.tsx
  livelink.samples/src/samples/react-core/5-clients/1-clients-list.tsx
Due: none

chore: package-lock funsies
  package-lock.json
Due: none

chore: path shenanigans
  livelink.samples/src/samples/index.ts
  livelink.samples/src/samples/react-ui/x-activity-watcher.tsx
  livelink.samples/src/samples/react-ui/x-sun-position-picker.tsx
Due: none

fix: mouse move position
  livelink.js/sources/inputs/Mouse.ts
Due: none

feat: use client meta data to implement mouse click picking
  livelink.js/sources/Viewport.ts
Due: none

refactor: improved sample player
  livelink.samples/src/components/SamplePlayer/SamplePlayer.tsx
  livelink.samples/src/main.tsx
  livelink.samples/src/samples/index.ts
  livelink.samples/src/samples/react-core/1-viewports/1-single-canvas-single-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/2-single-canvas-double-viewports.tsx
  livelink.samples/src/samples/react-core/1-viewports/3-double-canvas-single-viewport.tsx
  livelink.samples/src/samples/react-core/1-viewports/4-double-canvas-double-viewports.tsx
  livelink.samples/src/samples/react-core/1-viewports/5-canvas-in-canvas.tsx
  livelink.samples/src/samples/react-core/1-viewports/6-viewport-in-viewport.tsx
  livelink.samples/src/samples/react-core/2-sessions/1-scene-selector.tsx
  livelink.samples/src/samples/react-core/2-sessions/2-multi-session.tsx
  livelink.samples/src/samples/react-core/2-sessions/3-linked-multi-session.tsx
  livelink.samples/src/samples/react-core/3-overlays/1-dom-3d-overlay.tsx
  livelink.samples/src/samples/react-core/3-overlays/2-threejs-overlay.tsx
  livelink.samples/src/samples/react-core/3-overlays/3-multi-overlay.tsx
  livelink.samples/src/samples/react-core/4-cameras/1-default-camera-controller.tsx
  livelink.samples/src/samples/react-core/4-cameras/2-custom-camera-controller.tsx
  livelink.samples/src/samples/react-core/4-cameras/3-third-person-controller.tsx
  livelink.samples/src/samples/react-core/5-clients/1-clients-list.tsx
  livelink.samples/src/samples/react-core/5-clients/2-clients-avatars.tsx
  livelink.samples/src/samples/react-ui/x-activity-watcher.tsx
  livelink.samples/src/samples/react-ui/x-sun-position-picker.tsx
Due: none

feat: join session sample
  livelink.samples/src/samples/react-core/2-sessions/3-join-session.tsx
Due: none

feat: exposed session token
  livelink.js/sources/Session.ts
Due: none

feat: render graph settings sample
  livelink.react.ui/sources/components/RenderGraphSettings/index.tsx
  livelink.samples/src/samples/__to_sort__/render-graph-settings/RenderGraphSettings.tsx
  livelink.samples/src/samples/__to_sort__/render-graph-settings/defaultCameraSettings.tsx
  livelink.samples/src/samples/index.ts
  livelink.samples/src/samples/react-core/5-clients/2-clients-avatars.tsx
  livelink.samples/src/samples/react-ui/x-render-graph-settings.tsx
Due: js:livelink.react.ui:publish

feat: camera render target index sample
  livelink.samples/src/samples/index.ts
  livelink.samples/src/samples/react-core/4-cameras/4-render-target-index.tsx
Due: none

refactor: live skeletal animation sample
  livelink.samples/src/samples/__to_sort__/live-skeletal-animation/animations/droid_idle.ts
  livelink.samples/src/samples/__to_sort__/live-skeletal-animation/animations/droid_skeleton.ts
  livelink.samples/src/samples/__to_sort__/live-skeletal-animation/animations/droid_tpose.ts
  livelink.samples/src/samples/__to_sort__/live-skeletal-animation/animations/droid_walk.ts
  livelink.samples/src/samples/__to_sort__/live-skeletal-animation/animations/skeletal_animation_types.ts
  livelink.samples/src/samples/advanced/animations/droid_idle.ts
  livelink.samples/src/samples/advanced/animations/droid_skeleton.ts
  livelink.samples/src/samples/advanced/animations/droid_tpose.ts
  livelink.samples/src/samples/advanced/animations/droid_walk.ts
  livelink.samples/src/samples/advanced/animations/skeletal_animation_types.ts
  livelink.samples/src/samples/advanced/x-live-skeletal-animation.tsx
  livelink.samples/src/samples/index.ts
Due: none

feat: webXR wip
  livelink.react/sources/components/core/WebXR.tsx
  livelink.react/sources/index.ts
  livelink.react/sources/web-xr/WebXRHelper.ts
  livelink.samples/src/samples/index.ts
  livelink.samples/src/samples/react-core/1-viewports/7-web-xr.tsx
Due: js:livelink.react:publish
