Repository 3dverse/livelink: changes, and which GitLab CI jobs are due for each by the changed paths.
All: js:livelink.three:publish, js:livelink.react:publish, js:livelink.react.ui:publish

js:livelink.three:publish:
  stage: deploy
  image: node:${NODE_VERSION}
  before_script:
  - - .npm-regcreds
    - before_script
  - npm config set @3dverse:registry="https://registry.npmjs.org" --userconfig=".npmrc"
  - npm config set //registry.npmjs.org/:_authToken="${NPMJS_ACCESS_TOKEN}" --userconfig=".npmrc"
  ...

js:livelink.react:publish:
  stage: deploy
  image: node:${NODE_VERSION}
  before_script:
  - - .npm-regcreds
    - before_script
  - npm config set @3dverse:registry="https://registry.npmjs.org" --userconfig=".npmrc"
  - npm config set //registry.npmjs.org/:_authToken="${NPMJS_ACCESS_TOKEN}" --userconfig=".npmrc"
  ...

js:livelink.react.ui:publish:
  stage: deploy
  image: node:${NODE_VERSION}
  before_script:
  - - .npm-regcreds
    - before_script
  - npm config set @3dverse:registry="https://registry.npmjs.org" --userconfig=".npmrc"
  - npm config set //registry.npmjs.org/:_authToken="${NPMJS_ACCESS_TOKEN}" --userconfig=".npmrc"
  ...

docs: using typedoc-plugin-no-inherit to hide event inherited member variables and methods
  livelink.js/package.json
  livelink.js/sources/rendering/ViewportEvents.ts
  livelink.js/sources/rendering/surfaces/RenderingSurfaceEvents.ts
  livelink.js/sources/scene/EntityEvents.ts
  livelink.js/sources/session/SessionEvents.ts
  livelink.js/typedoc.config.mjs
  package-lock.json
Due: none

ci(react): publish doc
  .gitlab-ci.yml
  livelink.js/package.json
  livelink.react/package.json
  package-lock.json
Due: js:livelink.react:publish

ci: update ci variable for sync:livelink pipeline
  .gitlab-ci.yml
Due: none

fix: frame metadata for other clients
  livelink.js/sources/inputs/Mouse.ts
  livelink.js/sources/rendering/CameraController.ts
  livelink.js/sources/rendering/Viewport.ts
  livelink.js/sources/rendering/decoders/EncodedFrameConsumer.ts
  livelink.js/sources/rendering/decoders/FrameMetaData.ts
  livelink.react/sources/components/core/CameraController.tsx
Due: js:livelink.react:publish

ci: fix publish pipeline
  .gitlab-ci.yml
Due: none

v0.8.15
  livelink.js/package.json
  package-lock.json
Due: none

refactor: global transform scaffolding
  livelink.js/sources/rendering/decoders/EncodedFrameConsumer.ts
  livelink.js/sources/scene/Entity.ts
  livelink.js/sources/scene/Scene.ts
  livelink.samples/src/samples/advanced/x-culling-box-geometry.tsx
Due: none

chore: initialize changesets
  .changeset/config.json
  package-lock.json
  package.json
Due: none

ci: integrate changesets into release pipeline
  .gitlab-ci.yml
Due: none

ci: work in progress
  .gitlab-ci.yml
Due: none

ci: refactor build jobs into a single job
  .gitlab-ci.yml
  package.json
Due: none

ci: debug GitLab credentials in version:comment-mr job
  .gitlab-ci.yml
Due: none

ci: add version:release job
  .changeset/config.json
  .gitlab-ci.yml
Due: none

RELEASING: Releasing 1 package(s)
  livelink.js/CHANGELOG.md
  livelink.js/package.json
Due: none

ci(changesets): implement versioning jobs
  .changeset/config.json
  .gitlab-ci.yml
  package-lock.json
  package.json
Due: none

fix: hide logo when query hide3dverseLogo is true
  livelink.samples/src/components/MainMenu.tsx
Due: none

docs: some docs
  livelink.js/example.md
  livelink.js/sources/Livelink.ts
  livelink.js/sources/session/Session.ts
  livelink.js/typedoc.config.mjs
  livelink.react/sources/components/core/Livelink.tsx
  livelink.react/typedoc.config.mjs
Due: js:livelink.react:publish

chore: unify divider
  livelink.samples/src/components/MainMenu.tsx
  livelink.samples/src/components/SamplePlayer/CopyCodeButton.tsx
  livelink.samples/src/components/SamplePlayer/DisconnectedModal.tsx
  livelink.samples/src/components/SamplePlayer/SamplePlayer.tsx
  livelink.samples/src/components/SamplePlayer/index.tsx
  livelink.samples/src/lib/localStorage.ts
Due: none

docs: readme update
  GUIDELINES.md
  README.md
  TODO.md
  livelink.js/README.md
  livelink.js/example.html
  livelink.js/example.md
  livelink.react/README.md
Due: js:livelink.react:publish

build: set all package versions to 0.0.0-changesets
  livelink.js/package.json
  livelink.react.ui/package.json
  livelink.react/package.json
  livelink.three/package.json
  package-lock.json
  package.json
Due: js:livelink.three:publish, js:livelink.react:publish, js:livelink.react.ui:publish

build: initialize version numbers
  livelink.js/package.json
  livelink.react.ui/package.json
  livelink.react/package.json
  livelink.three/package.json
  package-lock.json
  package.json
Due: js:livelink.three:publish, js:livelink.react:publish, js:livelink.react.ui:publish

ci: publish sample on changes of the default branch
  .gitlab-ci.yml
Due: none

fix(livelink.react): attach webXR camera tag and lens at entity creation
  livelink.react/sources/web-xr/WebXRHelper.ts
Due: js:livelink.react:publish

refactor(livelink.samples): changed webXR scene
  livelink.samples/src/samples/advanced/x-web-xr-ios.tsx
  livelink.samples/src/samples/advanced/x-web-xr.tsx
Due: none

feat(livelink.samples): vitejs server listens all network interfaces
  livelink.samples/vite.config.ts
Due: none

ci: add missing -r option
  .gitlab-ci.yml
Due: none

ci: automatically create a merge request from main to release on push
  .ci/create-mr.mts
  .gitlab-ci.yml
Due: none

ci: do not trigger pages on merge request event
  .gitlab-ci.yml
Due: none

ci: use new changeset oci
  .gitlab-ci.yml
Due: none

fix(livelink.react): webxr, touches the screen makes the XRFrame rendering loop to crash because it tries to get XRFrame pose although the XRInputSource.gridSpace does not exist
  livelink.react/sources/web-xr/WebXRInputRelay.ts
Due: js:livelink.react:publish

ci: enable documentation jobs
  .gitlab-ci.yml
Due: none

fix(livelink.js): mouse position was not correctly computed in mouse events
  livelink.js/sources/Livelink.ts
  livelink.js/sources/inputs/Mouse.ts
Due: none

ci: fix doc pipeline & rollbacked version:release image
  .gitlab-ci.yml
Due: none

RELEASING: Releasing 2 package(s)
  livelink.js/CHANGELOG.md
  livelink.js/package.json
  livelink.react/CHANGELOG.md
  livelink.react/package.json
Due: js:livelink.react:publish

docs(livelink.js): update livelink.react update in README
  livelink.js/README.md
Due: none

ci: generate changesets in a separate job to correctly compute them based on the main branch
  .gitlab-ci.yml
Due: none

RELEASING: Releasing 4 package(s)
  livelink.js/CHANGELOG.md
  livelink.js/package.json
  livelink.react.ui/CHANGELOG.md
  livelink.react.ui/package.json
  livelink.react/CHANGELOG.md
  livelink.react/package.json
  livelink.three/CHANGELOG.md
  livelink.three/package.json
Due: js:livelink.three:publish, js:livelink.react:publish, js:livelink.react.ui:publish

feat(livelink.js): exposed latency from livelink core
  livelink.js/package.json
  livelink.js/sources/Livelink.ts
  package-lock.json
Due: none

Path conditions:
  js:livelink.three:publish: any of: livelink.three/**/*, livelink.three/*
  js:livelink.react:publish: any of: livelink.react/**/*, livelink.react/*
  js:livelink.react.ui:publish: any of: livelink.react.ui/**/*, livelink.react.ui/*
